<div class="main-farmer">
    <app-sidenav></app-sidenav>
    <article class="right-sec">
        <app-header></app-header>
        <div class="main-sec">
            <div class="FCRm-produce">
                <h3 class="form-title">Capture various input sources and operational practices for undertaking
                    cultivation in the coming cycle</h3>
                <form [formGroup]="produceAggregatorForm">

                    <div class="form-details">
                        <h3 class="form-title">1. Which verticals would you like to be addressed first? Rank 1 to 6 <a
                                href="javascript:void(0)" class="comment-icon"><svg xmlns="http://www.w3.org/2000/svg"
                                    width="24" height="24" viewBox="0 0 24 24">
                                    <defs>
                                        <style>
                                            .a {
                                                fill: none;
                                            }

                                            .b {
                                                fill: #0779ff;
                                            }
                                        </style>
                                    </defs>
                                    <path class="a" d="M0,0H24V24H0Z" />
                                    <path class="b"
                                        d="M14,3V5H4V18.385L5.763,17H20V10h2v8a1,1,0,0,1-1,1H6.455L2,22.5V4A1,1,0,0,1,3,3Zm5,0V0h2V3h3V5H21V8H19V5H16V3Z" />
                                </svg></a></h3>
                        <div class="row g-3 align-items-center">

                            <div class="advice-cultivation">
                                <div class="col-md-1">
                                    <label class="label-title">Verticals</label>
                                </div>
                                <div class="verticals-address">
                                    <!-- <div class="col-auto">
                                        <label class="form-check-label form-check bordered-check"
                                            for="cycle_requirement">
                                            <input class="form-check-input" type="checkbox" name="flexRadioDefault"
                                                id="cycle_requirement"><span>Working capital cycle
                                                requirement</span></label>
                                    </div> -->

                                    <div class="col-auto" *ngFor="let indStat of verticalsList">
                                        <label class="form-check-label form-check bordered-check"
                                            for="{{indStat.displayValue}}">
                                            <input class="form-check-input" type="checkbox"
                                                id="{{indStat.displayValue}}" name="{{indStat.displayValue}}" (click)="
                                            selectCultivationAdvice($event, 'verticals', indStat.displayValue)
                                          " [checked]="this.produceAggregatorForm.controls['verticals'].value?.includes(indStat.displayValue)">{{indStat.displayName}}
                                        </label>
                                    </div>

                                    <!-- <div class="col-auto">
                                        <label class="form-check-label form-check bordered-check" for="quality_yield">
                                            <input class="form-check-input" type="checkbox" name="flexRadioDefault"
                                                id="quality_yield"><span>Crop advisory on taking high quality
                                                yield</span></label>
                                    </div>
                                    <div class="col-auto">
                                        <label class="form-check-label form-check bordered-check" for="good_quality">
                                            <input class="form-check-input" type="checkbox" name="flexRadioDefault"
                                                id="good_quality"><span>Access to good quality Agri
                                                inputs</span></label>
                                    </div>
                                    <div class="col-auto">
                                        <label class="form-check-label form-check bordered-check" for="Market_linkage">
                                            <input class="form-check-input" type="checkbox" name="flexRadioDefault"
                                                id="Market_linkage"><span>Market linkage with produce
                                                aggregation</span></label>
                                    </div>
                                    <div class="col-auto">
                                        <label class="form-check-label form-check bordered-check" for="food_processing">
                                            <input class="form-check-input" type="checkbox" name="flexRadioDefault"
                                                id="food_processing"><span>Food Processing and Branding</span></label>
                                    </div>
                                    <div class="col-auto">
                                        <label class="form-check-label form-check bordered-check" for="Warehousing">
                                            <input class="form-check-input" type="checkbox" name="flexRadioDefault"
                                                id="Warehousing"><span>Warehousing</span></label>
                                    </div> -->
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="form-details">
                        <h3 class="form-title">2. Are the following factors important to decide whether you want to be
                            associated with an FPO or not? <a href="javascript:void(0)" class="comment-icon"><svg
                                    xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                    <defs>
                                        <style>
                                            .a {
                                                fill: none;
                                            }

                                            .b {
                                                fill: #0779ff;
                                            }
                                        </style>
                                    </defs>
                                    <path class="a" d="M0,0H24V24H0Z" />
                                    <path class="b"
                                        d="M14,3V5H4V18.385L5.763,17H20V10h2v8a1,1,0,0,1-1,1H6.455L2,22.5V4A1,1,0,0,1,3,3Zm5,0V0h2V3h3V5H21V8H19V5H16V3Z" />
                                </svg></a></h3>
                        <div class="row g-3 align-items-center fpo-factor">
                            <div class="col-md-3">
                                <label class="form-check-label form-check bordered-check" for="access_financing">
                                    <input class="form-check-input" type="checkbox" name="flexRadioDefault"
                                        id="access_financing"><span>On demand access to financing</span></label>
                            </div>

                            <div class="col-md-3" *ngFor="let indStat of associatedWithFPOList">
                                <label class="form-check-label form-check bordered-check"
                                    for="{{indStat.displayValue}}">
                                    <input class="form-check-input" type="checkbox" id="{{indStat.displayValue}}"
                                        name="{{indStat.displayValue}}" (click)="
                                    selectCultivationAdvice($event, 'associatedWithFPO', indStat.displayValue)
                                  " [checked]="this.produceAggregatorForm.controls['associatedWithFPO'].value?.includes(indStat.displayValue)">{{indStat.displayName}}
                                </label>
                            </div>

                            <!-- <div class="col-md-3">
                                <label class="form-check-label form-check bordered-check" for="access_fertilizer">
                                    <input class="form-check-input" type="checkbox" name="flexRadioDefault"
                                        id="access_fertilizer"><span>On demand access to fertilizer</span></label>
                            </div>
                            <div class="col-md-3">
                                <label class="form-check-label form-check bordered-check" for="access_pesticide">
                                    <input class="form-check-input" type="checkbox" name="flexRadioDefault"
                                        id="access_pesticide"><span>On demand access to pesticide</span></label>
                            </div>
                            <div class="col-md-3">
                                <label class="form-check-label form-check bordered-check" for="access_seeds">
                                    <input class="form-check-input" type="checkbox" name="flexRadioDefault"
                                        id="access_seeds"><span>On demand access to seeds</span></label>
                            </div>
                            <div class="col-md-3">
                                <label class="form-check-label form-check bordered-check" for="sale-produce">
                                    <input class="form-check-input" type="checkbox" name="flexRadioDefault"
                                        id="sale-produce"><span>Convenience to sale of produce</span></label>
                            </div>
                            <div class="col-md-3">
                                <label class="form-check-label form-check bordered-check" for="selling-produce">
                                    <input class="form-check-input" type="checkbox" name="flexRadioDefault"
                                        id="selling-produce"><span>Reducing number of middlemen while selling
                                        produce</span></label>
                            </div>
                            <div class="col-md-3">
                                <label class="form-check-label form-check bordered-check" for="brand-produce">
                                    <input class="form-check-input" type="checkbox" name="flexRadioDefault"
                                        id="brand-produce"><span>Marketing / Branding of produce</span></label>
                            </div>
                            <div class="col-md-3">
                                <label class="form-check-label form-check bordered-check" for="raw-materials">
                                    <input class="form-check-input" type="checkbox" name="flexRadioDefault"
                                        id="raw-materials"><span>Lower price of Inputs and Raw materials incl.
                                        fertilizer, pesticide, seeds etc.</span></label>
                            </div>
                            <div class="col-md-3">
                                <label class="form-check-label form-check bordered-check" for="transporting-produce">
                                    <input class="form-check-input" type="checkbox" name="flexRadioDefault"
                                        id="transporting-produce"><span>Transporting produce</span></label>
                            </div>
                            <div class="col-md-3">
                                <label class="form-check-label form-check bordered-check" for="receiving-money">
                                    <input class="form-check-input" type="checkbox" name="flexRadioDefault"
                                        id="receiving-money"><span>Receiving money at farm gate only without worrying on
                                        sale</span></label>
                            </div>
                            <div class="col-md-3">
                                <label class="form-check-label form-check bordered-check" for="access-technology">
                                    <input class="form-check-input" type="checkbox" name="flexRadioDefault"
                                        id="access-technology"><span>Access to technology and Cultivation
                                        advisory</span></label>
                            </div>
                            <div class="col-md-3">
                                <label class="form-check-label form-check bordered-check" for="social-factor">
                                    <input class="form-check-input" type="checkbox" name="flexRadioDefault"
                                        id="social-factor"><span>Social factors: Caste, Creed, Colour,
                                        Religion</span></label>
                            </div> -->
                        </div>
                    </div>
                    <div class="form-details">
                        <h3 class="form-title">3. How likely are you to enrol yourself as a member of FRCM FPO
                            addressing the above challenges? <br><span style="font-size: 14px;">1. Not at all likely &
                                10. Extremely Likely</span> <a href="javascript:void(0)" class="comment-icon"><svg
                                    xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                    <defs>
                                        <style>
                                            .a {
                                                fill: none;
                                            }

                                            .b {
                                                fill: #0779ff;
                                            }
                                        </style>
                                    </defs>
                                    <path class="a" d="M0,0H24V24H0Z" />
                                    <path class="b"
                                        d="M14,3V5H4V18.385L5.763,17H20V10h2v8a1,1,0,0,1-1,1H6.455L2,22.5V4A1,1,0,0,1,3,3Zm5,0V0h2V3h3V5H21V8H19V5H16V3Z" />
                                </svg></a></h3>
                        <ul class="fcrm-fpo">

                            <!-- <label class="form-check-label form-check bordered-radio"
                            *ngFor="let indType of agriculturalInterestList" for="{{indType.displayValue}}">
                            <input class="form-check-input" type="radio" formControlName="agriculturalInterest"
                                value="{{indType.displayValue}}"
                                id="{{indType.displayValue}}"><span>{{indType.displayName}}</span>
                        </label> -->


                            <li *ngFor="let indType of enrolFPOList">
                                <label> <input type="radio" formControlName="enrolFPO" value="{{indType.displayValue}}"
                                        id="{{indType.displayValue}}">
                                    <span class="{{indType.displayValue}}">{{indType.displayName}}</span>
                                </label>
                            </li>
                            <!-- <li><label> <input type="radio" name="like"><span class="two">2</span></label></li>
                            <li><label> <input type="radio" name="like"><span class="three">3</span></label></li>
                            <li><label> <input type="radio" name="like"><span class="four">4</span></label></li>
                            <li><label> <input type="radio" name="like"><span class="five">5</span></label></li>
                            <li><label> <input type="radio" name="like"><span class="six">6</span></label></li>
                            <li><label> <input type="radio" name="like"><span class="seven">7</span></label></li>
                            <li><label> <input type="radio" name="like"><span class="eight">8</span></label></li>
                            <li><label> <input type="radio" name="like"><span class="nine">9</span></label></li>
                            <li><label> <input type="radio" name="like" checked><span class="ten">10</span></label></li> -->
                        </ul>
                    </div>
                    <div class="form-details">
                        <h3 class="form-title">4. Are you willing to follow suggestions from the company regularly which
                            includes adopting the SOPs provided at the beginning of cultivation? <a
                                href="javascript:void(0)" class="comment-icon"><svg xmlns="http://www.w3.org/2000/svg"
                                    width="24" height="24" viewBox="0 0 24 24">
                                    <defs>
                                        <style>
                                            .a {
                                                fill: none;
                                            }

                                            .b {
                                                fill: #0779ff;
                                            }
                                        </style>
                                    </defs>
                                    <path class="a" d="M0,0H24V24H0Z" />
                                    <path class="b"
                                        d="M14,3V5H4V18.385L5.763,17H20V10h2v8a1,1,0,0,1-1,1H6.455L2,22.5V4A1,1,0,0,1,3,3Zm5,0V0h2V3h3V5H21V8H19V5H16V3Z" />
                                </svg></a></h3>
                        <div class="row g-3 align-items-center">
                            <!-- <div class="col-auto">
                                <label class="form-check-label form-check bordered-radio" for="cultivation_yes">
                                    <input class="form-check-input" type="radio" name="beginning_cultivation"
                                        id="cultivation_yes">Yes</label>
                            </div> -->
                            <div class="col-auto" *ngFor="let indType of followSuggestionsList">
                                <label class="form-check-label form-check bordered-radio"
                                    for="{{indType.displayValue}}">
                                    <input class="form-check-input" type="radio" formControlName="followSuggestions"
                                        value="{{indType.displayValue}}"
                                        id="{{indType.displayValue}}"><span>{{indType.displayName}}</span>
                                </label>
                            </div>
                            <!-- <div class="col-auto">
                                <label class="form-check-label form-check bordered-radio" for="cultivation_no">
                                    <input class="form-check-input" type="radio" name="beginning_cultivation"
                                        id="cultivation_no">No</label>
                            </div>
                            <div class="col-auto">
                                <label class="form-check-label form-check bordered-radio" for="cultivation_may_be">
                                    <input class="form-check-input" type="radio" name="beginning_cultivation"
                                        id="cultivation_may_be">May be</label>
                            </div> -->
                        </div>
                    </div>
                    <div class="form-details">
                        <h3 class="form-title">5. If you become a member of FPO, can we help to consolidate all your
                            existing loans and provide a flexible repayment cycle period? <a href="javascript:void(0)"
                                class="comment-icon"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                    viewBox="0 0 24 24">
                                    <defs>
                                        <style>
                                            .a {
                                                fill: none;
                                            }

                                            .b {
                                                fill: #0779ff;
                                            }
                                        </style>
                                    </defs>
                                    <path class="a" d="M0,0H24V24H0Z" />
                                    <path class="b"
                                        d="M14,3V5H4V18.385L5.763,17H20V10h2v8a1,1,0,0,1-1,1H6.455L2,22.5V4A1,1,0,0,1,3,3Zm5,0V0h2V3h3V5H21V8H19V5H16V3Z" />
                                </svg></a></h3>
                        <div class="row g-3 align-items-center">
                            <div class="col-auto" *ngFor="let indType of consolidateLoansList">
                                <label class="form-check-label form-check bordered-radio"
                                    for="{{indType.displayValue}}">
                                    <input class="form-check-input" type="radio" formControlName="consolidateLoans"
                                        value="{{indType.displayValue}}"
                                        id="{{indType.displayValue}}"><span>{{indType.displayName}}</span>
                                </label>
                            </div>
                            <!-- <div class="col-auto">
                                <label class="form-check-label form-check bordered-radio" for="repayment-yes">
                                    <input class="form-check-input" type="radio" name="repayment-cycle"
                                        id="repayment-yes">Yes</label>
                            </div>
                            <div class="col-auto">
                                <label class="form-check-label form-check bordered-radio" for="repayment-no">
                                    <input class="form-check-input" type="radio" name="repayment-cycle"
                                        id="repayment-no">No</label>
                            </div>
                            <div class="col-auto">
                                <label class="form-check-label form-check bordered-radio" for="repayment_may_be">
                                    <input class="form-check-input" type="radio" name="repayment-cycle"
                                        id="repayment_may_be">May be</label>
                            </div> -->
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </article>
</div>