.map {
  background-color: #f3f3f3;
}
html,
body,
#map {
  width: 100%;
  height: 100vh;
}
.map_form_controls {
  width: 260px !important;
  max-width: 25%;
  position: absolute;
  top: 80%;
  left: 45%;
  transform: translate(-65%, -50%);
  background: #547621;
  color: #fff;
  border-radius: 6px;
  padding: 20px;
  z-index: 2;
}
.layer_control_list_buttons button {
  border-radius: 5px;
  font-size: 12px;
  text-transform: capitalize;
}
select option {
  text-transform: capitalize;
}
.layer_controls_heading {
  font-size: 13px;
}
.layer_control_type select {
  font-size: 12px;
  box-shadow: none;
  line-height: 1;
}
.crop_buttons button {
  width: 46%;
}
.filter_heading {
  color: #6e6e6f;
}
.form-select {
  background-image: none;
}
.area_analytics div span:first-child {
  font-size: 10px;
  color: #989696;
}
.area_analytics div span:nth-child(2) {
  font-size: 10px;
  font-weight: 500;
  color: #989696;
}
.mini_heading {
  font-size: 15px;
  color: #989696;
  font-weight: 400;
}
table tr th,
table tr td {
  font-size: 12px;
}
table tr td.td_title,
table tr th {
  font-size: 13px;
  color: #989696;
  font-weight: 500;
}
.listview-table tr td,
.listview-table tr th {
  padding: 6px;
}
.selected_filters .form-select {
  font-size: 13px !important;
}
.higlightBtn{
  box-shadow: 0 0px 13px 1px rgba(255, 255, 255, 1);
  -webkit-box-shadow: 0px 0px 13px 1px rgba(255,255,255,1);
}
.nohiglightBtn{
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.16),
    inset 5px 0 6px 0 rgba(0, 0, 0, 0.16);
}
.enf{
  margin-left: 0rem!important;
  height: 17px;
  width: 35px;
}
.disp-btn{
  margin: 0.5em;
    font-size: .8rem;
    padding: 0.5rem 2rem;
    border-radius: 3rem;
    box-shadow: none;
    border: 1px solid #523249;
    text-transform: uppercase;
    cursor: pointer;
    min-width: 130px;
    transition: all .35s ease-in;
    font-weight: 900;
    color: #fff;
}
.filter-form .form-floating .form-checkbox {
  box-shadow: 0px 5px 5px #3030301a;
  border: 0.5px solid #e3e3e3;
  border-radius: 5px;
}
.form-floating > .form-checkbox {
  padding-top: 1.9rem;
  padding-bottom: 0.625rem;
}
.form-floating > .form-control,
.form-floating > .form-checkbox {
  height: auto;
  line-height: 1.25;
}
.form-checkbox {
  display: block;
  width: 100%;
  padding: 0.375rem 2.25rem 0.375rem 0.75rem;
  -moz-padding-start: calc(0.75rem - 3px);
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: right 0.75rem center;
  background-size: 16px 12px;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.form-floating > .form-checkbox ~ label {
  opacity: 0.65;
  transform: scale(0.85) translateY(-0.5rem) translateX(0.15rem);
}
.form-checkbox div {
  padding-top: 0.4rem;
}
.form-checkbox .field-checkbox {
  float: right;
}
.form-floating > .form-select {
  padding-top: 1.8rem;
  padding-bottom: 0.625rem;
}
.form-select {
  font-size: 0.9rem;
}
.form-floating > .form-control, .form-floating > .form-select{
  height: 100%;
}
.user_details {
  margin-bottom: 10px;
}
.user_details div {
  font-size: 14px;
  color: #75bd5c;
}
.user_details div span {
  font-size: 14px;
  color: rgba(95, 95, 95, 0.68);
}
.dashboard-left {
  background-color: #def5d6;
  flex: 0 100px;
  max-width: 100px;
  display: flex;
  position: sticky;
  top: 0px;
  height: 100vh;
  min-height: 550px;
  padding: 20px 10px;
  overflow: hidden;
  justify-content: center;
}
.nav-tab ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
}
.nav-tab ul li a {
  color: #393939;
  font-size: 14px;
  text-decoration: none;
  cursor: pointer;
}
.nav-tab ul li.active a svg,
.nav-tab ul li.active a {
  fill: #5e9739;
  color: #5e9739;
}
.nav-tab ul li {
  margin-bottom: 25px;
  position: relative;
}
.listview-table tr th {
  font-weight: 500 !important;
}
.listview-table tr td,
.listview-table tr th {
  padding: 12px 0;
  font-weight: normal;
  border-bottom: 1px solid #bababa;
  font-size: 14px;
}
.listview-table {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
}
.filter-crop {
  display: flex;
}
.filter-crop .filter-by {
  padding: 10px;
}
.filter-crop {
  display: flex;
  flex: 1;
}
.filter-by {
  flex: 0 25%;
  max-width: 25%;
}
.map {
  flex: 1;
}
.map img {
  width: 100%;
}
.filter-form .form-floating {
  margin-bottom: 10px;
}
.filter-form .form-floating .form-select {
  box-shadow: 0px 5px 5px #3030301a;
  border: 0.5px solid #e3e3e3;
  border-radius: 5px;
}
.nav-tab ul li.active:after {
  content: "";
  border-right: 3px solid #5e9739;
  top: 5px;
  right: -25px;
  position: absolute;
  display: block;
  width: 3px;
  height: 50px;
}
.btn-filter {
  font-size: 14px;
  cursor: pointer;
  padding: 10px 34px;
  background: #393939 0% 0% no-repeat padding-box;
  box-shadow: 0px 1px 2px #00000038;
  border-radius: 5px;
  color: #fff;
}
.btn-filter:hover {
  color: #fff;
}