<article class="right-sec">
    <app-edit-header></app-edit-header>
    <div class="bg-color summery">
        <div>
            <div class="row">
                <div class="col-md-9">
                    <div class="actual-facts summery-bg">
                        <h4 class="summery-heading"><span>Actual facts</span></h4>
                        <ul>
                            <li>
                                <h5>Field contiguity</h5>
                                <p> > 70%</p>
                            </li>
                            <li>
                                <h5>Field ownership</h5>
                                <p>Fully Owned</p>
                            </li>
                            <li>
                                <h5>Overall field size</h5>
                                <p>10 Ha</p>
                            </li>
                            <li>
                                <h5>Location of fields</h5>
                                <p>
                                    < 1km from canal</p>
                            </li>
                            <li>
                                <h5>Irrigation method</h5>
                                <p>Drip</p>
                            </li>
                            <li>
                                <h5>Mechanisation</h5>
                                <p>Owns tractor</p>
                            </li>
                            <li>
                                <h5>Type of house</h5>
                                <p>Own & Pucca</p>
                            </li>
                            <li>
                                <h5>Vehicle</h5>
                                <p>Personal 4 wheeler transport</p>
                            </li>
                            <li>
                                <h5>Sources of income</h5>
                                <p>Beyond farming income</p>
                            </li>
                        </ul>
                    </div>
                    <div class="summery-data">
                        <div class="ambition summery-bg">
                            <h4 class="summery-heading"><span>Ambition</span></h4>
                            <ul>
                                <li>
                                    <p>FPO membership</p><span class="yes">Yes</span>
                                </li>
                                <li>
                                    <p>Hedging harvest produce</p><span class="yes">Yes</span>
                                </li>
                                <li>
                                    <p>Yield improvement</p><span class="yes">Yes</span>
                                </li>
                                <li>
                                    <p>Scientific crop cycle planning</p><span class="yes">Yes</span>
                                </li>
                                <li>
                                    <p>Attain benchmark yield quality</p><span class="no">No</span>
                                </li>
                                <li>
                                    <p>Awareness of agri tech</p><span class="yes">Yes</span>
                                </li>
                                <li>
                                    <p>Use of tech</p><span class="no">No</span>
                                </li>
                            </ul>
                        </div>
                        <div class="attitudes summery-bg">
                            <h4 class="summery-heading"><span>Attitude</span></h4>
                            <ul>
                                <li>
                                    <p>Availed farm loan waiver</p><span class="yes">Yes</span>
                                </li>
                                <li>
                                    <p>Outlook on adoption of technology</p><span class="yes">Positive</span>
                                </li>
                                <li>
                                    <p>Outlook on following SOP during cultivation</p><span class="yes">Positive</span>
                                </li>
                                <li>
                                    <p>Outlook on harvest marketing advisory</p><span class="yes">Positive</span>
                                </li>
                                <li>
                                    <p>Outlook on youngsters interested in farming</p><span class="yes">Positive</span>
                                </li>
                                <li>
                                    <p>Availed crop insurance benefits</p><span class="yes">Yes</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="farmer-expenditure">
                        <ul>
                            <li>
                                <p>Household dependents</p><span>5</span>
                            </li>
                            <li>
                                <p>Cultivation expenditure/season</p><span>INR 50,000.00</span>
                            </li>
                            <li>
                                <p>Household expenditure/month</p><span>INR 8,000.00</span>
                            </li>
                            <li>
                                <p>Outstanding liability/month</p><span>INR 4,000.00</span>
                            </li>
                            <li>
                                <p>Interest in other loan product</p><span>Yes</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</article>