<article class="right-sec">
    <app-edit-header></app-edit-header>
    <div class="bg-color summery">
        <div>
            <div class="row">
                <div class="col-md-9">
                    <div class="actual-facts summery-bg">
                        <h4 class="summery-heading"><span>Actual facts</span></h4>
                        <ul *ngFor="let x of summary?.fieldInfo">
                            <li>
                                <h5>Field Name</h5>
                                <p> {{x.field_name || 'N/A'}} </p>
                            </li>
                            <li>
                                <h5>Field ownership</h5>
                                <p>{{x.field_ownership_detail?.fieldOwnCoOwner || 'N/A'}}
                                </p>
                            </li>
                            <li>
                                <h5>Field size</h5>
                                <p>{{x?.field_area_ha}}(Hectare) </p>
                            </li>
                            <li>
                                <h5>Location of field</h5>
                                <p> <a [href]="'https://maps.google.com?q='+x.field_boundary.geometry.coordinates[0][0]+','+x.field_boundary.geometry.coordinates[0][1]"
                                        target="_blank">View</a> </p>
                            </li>
                            <li>
                                <h5>Irrigation method</h5>
                                <p> {{x.planned_season_detail?.plannedFieldDetails?.irrigationSystem || 'N/A'}} </p>
                            </li>
                        </ul>
                        <ul>
                            <!-- <li>
                                <h5>Field contiguity</h5>
                                <p>N/A</p>
                            </li> -->
                            <!-- <li>
                                <h5>Mechanisation</h5>
                                <p>N/A</p>
                            </li> -->
                            <li>
                                <h5>Type of house</h5>
                                <p>{{summary.type_of_house || 'N/A'}}</p>
                            </li>
                            <!-- <li>
                                <h5>Vehicle</h5>
                                <p>N/A</p>
                            </li> -->
                            <li>
                                <h5>Sources of income</h5>
                                <p>{{summary?.demographic_info?.sourceOfIncome}}</p>
                            </li>
                        </ul>
                    </div>
                    <div class="">
                        <div class="actual-facts summery-bg">
                            <h4 class="summery-heading"><span>Ambition</span></h4>
                            <ul>
                                <li>
                                    <h5>FPO membership</h5>
                                    <p>{{summary?.produce_aggregator?.consolidateLoans || 'N/A'}}</p>
                                </li>
                                <li>
                                    <h5>Hedging harvest produce</h5>
                                    <p *ngFor="let x of summary.harvest_produce; let xi = index;">
                                        {{x.crop}}: {{x.expectedProduce}}
                                    </p>
                                </li>
                                <li>
                                    <h5>Yield improvement</h5>
                                    <p>{{summary?.technology_adoption?.farmYieldImprovisation ||
                                        'N/A'}}</p>
                                </li>
                                <li>
                                    <h5>Scientific crop cycle planning</h5>
                                    <p *ngFor="let x of summary.planned_crops; let xi = index;">
                                        {{x}}
                                    </p>
                                </li>
                                <!-- <li>
                                    <p>Attain benchmark yield quality</p><span class="no">N/A</span>
                                </li> -->
                                <li>
                                    <h5>Awareness of agri tech</h5>
                                    <p>{{(summary?.technology_adoption?.farmYieldImprovisation ||
                                        summary?.technology_adoption?.iotSensors ||
                                        summary?.technology_adoption?.microIrrigation ||
                                        summary?.technology_adoption?.payForTechnology ||
                                        summary?.technology_adoption?.payForTechnologyComment ||
                                        summary?.technology_adoption?.polyHouse ||
                                        summary?.technology_adoption?.satelliteTracking ||
                                        summary?.technology_adoption?.tissueCulture ||
                                        summary?.technology_adoption?.weatherData )?'Yes':'No'}}</p>
                                </li>
                                <li>
                                    <h5>Use of tech</h5>
                                    <p *ngFor="let x of masterData.technologyAdoption.technologyOpinions">
                                        {{x.title}}: {{summary?.technology_adoption[x.formCntrlName] ||
                                        'N/A'}}<br />
                                    </p>

                                </li>
                            </ul>
                        </div>
                        <div class="actual-facts summery-bg">
                            <h4 class="summery-heading"><span>Attitude</span></h4>
                            <ul>
                                <li>
                                    <h5>Availed farm loan waiver</h5>
                                    <p>{{summary?.financial_planning?.availedFarmLoanWaiver || 'N/A'}}</p>
                                </li>
                                <li>
                                    <h5>Outlook on adoption of technology</h5>
                                    <p>{{(summary?.technology_adoption?.farmYieldImprovisation ||
                                        summary?.technology_adoption?.iotSensors ||
                                        summary?.technology_adoption?.microIrrigation ||
                                        summary?.technology_adoption?.payForTechnology ||
                                        summary?.technology_adoption?.payForTechnologyComment ||
                                        summary?.technology_adoption?.polyHouse ||
                                        summary?.technology_adoption?.satelliteTracking ||
                                        summary?.technology_adoption?.tissueCulture ||
                                        summary?.technology_adoption?.weatherData )?'Yes':'No'}}</p>
                                </li>
                                <li>
                                    <h5>Outlook on following SOP during cultivation</h5>
                                    <p>{{summary?.produce_aggregator?.followSuggestions || 'N/A'}}</p>
                                </li>
                                <li>
                                    <h5>Outlook on harvest marketing advisory</h5>
                                    <p>{{summary?.produce_aggregator?.associatedWithFPO || 'N/A'}}</p>
                                </li>
                                <li>
                                    <h5>Outlook on youngsters interested in farming</h5>
                                    <p>{{summary?.demographic_info?.agricultureChildrenInterested || 'N/A'}}</p>
                                </li>
                                <li>
                                    <h5>Availed crop insurance benefits</h5>
                                    <p>{{summary?.financial_planning?.FRCMCropInsurance || 'N/A'}}</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="farmer-expenditure">
                        <ul>
                            <li>
                                <p>Household dependents</p>
                                <b>{{summary.dependency || 'N/A'}}</b>
                            </li>
                            <li>
                                <p>Cultivation expenditure/season</p>
                                <b>{{summary?.cultivation_expenditure || 'N/A'}} </b>
                            </li>
                            <li>
                                <p>Household expenditure/month</p> <b>{{summary?.household_expenditure || 'N/A'}}</b>
                            </li>
                            <li>
                                <p>Outstanding liability/month</p><b>{{summary?.household_expenditure || 'N/A'}}</b>
                            </li>
                            <li>
                                <p>Interest in other loan product</p>
                                <p><b>Housing Loan:</b> {{summary?.financial_planning?.housingLoan}}<br />
                                    <b>Tractor Finance Loan:</b>
                                    {{summary?.financial_planning?.tractorFinanceLoan}}<br />
                                    <b>FRCM Crop Insurance:</b> {{summary?.financial_planning?.FRCMCropInsurance}}<br />
                                    <b>Personal Loan:</b> {{summary?.financial_planning?.personalLoan}}
                                </p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</article>