<article class="right-sec">
    <app-edit-header></app-edit-header>
    <div class="bg-color summery">
        <div class="demographic-profile">
            <div class="row">
                <div class="col-md-3">
                    <div class="actual-facts summery-bg full-height">
                        <h4 class="summery-heading"><span>KYC Details</span><a href="javascript:void(0)"> <img
                                    src="../../../assets/images/edit-img.svg" alt=""></a></h4>
                        <div class="d-flex-profile kyc-details">
                            <p><span><i class="fa fa-check"></i>Pan Card</span><span><a
                                        href="javascript:void(0);">View</a></span></p>
                            <p><span><i class="fa fa-check"></i>Adhar Card</span><span><a
                                        href="javascript:void(0);">View</a></span></p>

                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="actual-facts summery-bg full-height">
                        <h4 class="summery-heading"><span>Family and Relationship</span><a href="javascript:void(0)">
                                <img src="../../../assets/images/edit-img.svg" alt=""></a></h4>
                        <ul class="d-flex-profile">

                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Relation</th>
                                        <th>Education</th>
                                        <th>Occupation</th>
                                        <th>Dependency</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let x of demographicDisp?.familyMembers">
                                        <td>{{x.name}}</td>
                                        <td>{{x.relation}}</td>
                                        <td>{{x.education}}</td>
                                        <td>{{x.occupation}}</td>
                                        <td>{{x.dependency}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="actual-facts summery-bg full-height">
                        <h4 class="summery-heading"><span>Future Interest</span><a href="javascript:void(0)"> <img
                                    src="../../../assets/images/edit-img.svg" alt=""></a></h4>
                        <div class="d-flex-profile">
                            <p>Younger generation interested in
                                farming:<span><b>{{demographicDisp?.agricultureChildrenInterested}}</b></span></p>
                            <p>Agri Tech Interests:<span><b>
                                        {{demographicDisp?.innovativeFarmingWays?.join(',')}}</b></span></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="actual-facts summery-bg full-height">
                        <h4 class="summery-heading"><span>Advisory outreach</span> <a href="javascript:void(0)"> <img
                                    src="../../../assets/images/edit-img.svg" alt=""></a></h4>
                        <div class="d-flex-profile">
                            <p>Phone Type:<span><b>{{demographicDisp?.phoneType}}</b></span></p>
                            <p>Who is operating Phone:<span><b> {{demographicDisp?.phoneUsedBy}}</b></span></p>
                            <p>Preferable advisory medium:<span><b>
                                        {{demographicDisp?.adviceMedium?.join(',')}} ,
                                        {{demographicDisp?.adviceMediumOther}}</b></span></p>
                            <p>Advisory medium on
                                cultivation:<span><b>{{demographicDisp?.cultivationAdvice?.join(',')}},
                                        {{demographicDisp?.cultivationAdviceOther}}</b></span></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="actual-facts summery-bg full-height">
                        <h4 class="summery-heading"><span>Property ownership</span><a href="javascript:void(0)"> <img
                                    src="../../../assets/images/edit-img.svg" alt=""></a></h4>
                        <ul class="d-flex-profile">

                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Type</th>
                                        <th>Photo</th>
                                        <th>Ownership Type</th>
                                        <th>Perticular</th>
                                        <th>Value</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let x of demographicDisp?.propertyOwnership">
                                        <td>{{x.propertyType}}</td>
                                        <td>
                                            <p><a href="javascript:void(0);">View</a></p>
                                        </td>
                                        <td>{{x.ownershipType}}</td>
                                        <td>{{x.particular}}</td>
                                        <td>{{x.cumulativeValue}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="actual-facts summery-bg full-height">
                        <h4 class="summery-heading"><span>Income Streams</span><a href="javascript:void(0)"> <img
                                    src="../../../assets/images/edit-img.svg" alt=""></a></h4>
                        <div class="d-flex-profile">
                            <p *ngFor="let x of demographicDisp?.sourceOfIncome;let i=index">
                                {{i+1}}. {{x}}
                            </p>
                            <p *ngIf="demographicDisp?.sourceOfIncomeOther">
                                {{demographicDisp?.sourceOfIncome?.length+1}}. {{demographicDisp?.sourceOfIncomeOther}}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</article>