<article class="right-sec">
    <app-edit-header></app-edit-header>
    <div class="bg-color summery">
        <div class="demographic-profile">
            <div class="row">
                <div class="col-md-3">
                    <div class="actual-facts summery-bg full-height">
                        <h4 class="summery-heading"><span>KYC Details</span><a href="javascript:void(0)"> <img
                                    src="../../../assets/images/edit-img.svg" alt=""></a></h4>
                        <div class="d-flex-profile kyc-details">
                            <p><span><i class="fa fa-check"></i>Pan Card</span><span><a
                                        href="javascript:void(0);">View</a></span></p>
                            <p><span><i class="fa fa-check"></i>Adhar Card</span><span><a
                                        href="javascript:void(0);">View</a></span></p>

                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="actual-facts summery-bg full-height">
                        <h4 class="summery-heading"><span>Family and Relationship</span><a href="javascript:void(0)">
                                <img src="../../../assets/images/edit-img.svg" alt=""></a></h4>
                        <ul class="d-flex-profile">

                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Relation</th>
                                        <th>Education</th>
                                        <th>Occupation</th>
                                        <th>Dependency</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let x of demographicDisp?.familyMembers">
                                        <td>{{x.name}}</td>
                                        <td>{{x.relation}}</td>
                                        <td>{{x.education}}</td>
                                        <td>{{x.occupation}}</td>
                                        <td>{{x.dependency}}</td>
                                    </tr>
                                </tbody>
                            </table>
                            <!-- <li>
                                <h5>Name</h5>
                                <p> Akhilesh Sharma</p>
                            </li>
                            <li>
                                <h5>Relation</h5>
                                <p>Brother</p>
                            </li>
                            <li>
                                <h5>Education</h5>
                                <p>10th</p>
                            </li>
                            <li>
                                <h5>Occupation</h5>
                                <p> Student</p>
                            </li>
                            <li>
                                <h5>Dependency</h5>
                                <p>Yes</p>
                            </li> -->
                        </ul>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="actual-facts summery-bg full-height">
                        <h4 class="summery-heading"><span>Future Interest</span><a href="javascript:void(0)"> <img
                                    src="../../../assets/images/edit-img.svg" alt=""></a></h4>
                        <div class="d-flex-profile">
                            <p>Younger generation interested in farming:<span><b>Very much</b></span></p>
                            <p>Agri Tech Interests:<span><b> - drip, mulch</b></span></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="actual-facts summery-bg full-height">
                        <h4 class="summery-heading"><span>Advisory outreach</span> <a href="javascript:void(0)"> <img
                                    src="../../../assets/images/edit-img.svg" alt=""></a></h4>
                        <div class="d-flex-profile">
                            <p>Phone Type:<span><b>{{demographicDisp?.phoneType}}</b></span></p>
                            <p>Who is operating Phone:<span><b> {{demographicDisp?.phoneUsedBy}}</b></span></p>
                            <p>Preferable advisory medium:<span><b> {{demographicDisp?.adviceMedium?.join(',
                                        ')}}</b></span></p>
                            <p>Advisory medium on cultivation:<span><b>{{demographicDisp?.cultivationAdvice?.join(',
                                        ')}}</b></span></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="actual-facts summery-bg full-height">
                        <h4 class="summery-heading"><span>Property ownership</span><a href="javascript:void(0)"> <img
                                    src="../../../assets/images/edit-img.svg" alt=""></a></h4>
                        <ul class="d-flex-profile">
                            <li>
                                <h5>Type</h5>
                                <p> House</p>
                            </li>
                            <li>
                                <h5>Photo</h5>
                                <p><a href="javascript:void(0);">View</a></p>
                            </li>
                            <li>
                                <h5>Ownership Type</h5>
                                <p>Own</p>
                            </li>
                            <li>
                                <h5>Perticular</h5>
                                <p> Student</p>
                            </li>
                            <li>
                                <h5>Value</h5>
                                <p>INR 50,0000.00</p>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="actual-facts summery-bg full-height">
                        <h4 class="summery-heading"><span>Income Streams</span><a href="javascript:void(0)"> <img
                                    src="../../../assets/images/edit-img.svg" alt=""></a></h4>
                        <div class="d-flex-profile">
                            <p *ngFor="let x of demographicDisp?.sourceOfIncome;let i=index">
                                {{i+1}}. {{x}}
                            </p>
                            <p>{{demographicDisp?.sourceOfIncomeOther}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</article>