.modal {
  z-index: 9999;
}
.dropdown_scroll_bar {
  height: 99%;
  max-height: 200px;
  overflow: auto;
  margin: auto;
}
.text-decoration-underline{
  cursor: pointer;
}
.p-10{
  padding: 10px;
}
.float-right{  
  float: right;
}
.word-wrap-anywhere{
  word-wrap: anywhere;
}