<header class="profile-header">
    <div class="header-top">

        <div class="header-bottom">
            <div class="edit-picture">
                <div class="step-next profile-next">
                    <a href="/bd/dashboard" class="btn btn-back">Back </a>
                </div>
                <div class="farmer-pro">
                    <img *ngIf="demographicDisp?.profileImg" [src]="demographicDisp?.profileImg">
                    <img *ngIf="!demographicDisp?.profileImg" src="../../../assets/images/profile-pic-dummy.jpg">
                </div>
                <div class="p">
                    <!-- <span class="profile-rating">4.1 <i class="fa fa-star"></i></span> -->
                    <span class="profile-name">{{demographicDisp?.farmerDetails?.firstName}}
                        {{demographicDisp?.farmerDetails?.middleName}}
                        {{demographicDisp?.farmerDetails?.lastName}}</span>
                </div>
                <div class="edit-picture-gap profile-date"><img src="../../../assets/images/profile-date.svg"
                        alt=""><span> {{demographicDisp?.farmerDetails['dob']}}</span></div>
                <div class="edit-picture-gap gender"><img src="../../../assets/images/profile-gender.svg"
                        alt=""><span>{{getDisplayName('gender',demographicDisp?.farmerDetails['gender'])}}</span>
                </div>
                <div class="edit-picture-gap phone-num"><img src="../../../assets/images/profile-phone.svg"
                        alt=""><span>{{demographicDisp?.address['mobileNumber']}}</span></div>
            </div>
            <div class="pro-right">
                <div class="language">
                    <select class="form-select" aria-label="Default select example">
                        <option selected>English</option>
                        <option>English</option>
                        <option>Germany</option>
                        <option>French</option>
                    </select>
                </div>
                <div class="step-next">
                    <a routerLink="/login" class="btn btn-editlogout">Logout </a>
                </div>
            </div>
        </div>
        <div class="profile-details">
            <ul>
                <li>
                    <span><img src="../../../assets/images/profile-religion.svg" alt=""></span>
                    <div><span><b>Religion:
                            </b>{{getDisplayName('religion',demographicDisp?.farmerDetails['religion'])}}</span><br><span><b>Caste:</b>
                            {{getDisplayName('caste',demographicDisp?.farmerDetails['caste'])}}</span></div>
                </li>
                <li>
                    <span><img src="../../../assets/images/profile-address.svg" alt=""></span>
                    <div><span><b>KYC Valid Address: </b> {{demographicDisp?.address['addressLine1']}}
                            {{demographicDisp?.address['addressLine2']}} </span>
                        <br><span><b>Communication Address:</b>N/A</span>
                    </div>
                </li>
            </ul>
        </div>
        <div class="hori-navigation">
            <ul>
                <li routerLinkActive="active"><a routerLink="/edit/summary/{{farmerId}}">Summary</a></li>
                <li routerLinkActive="active"><a routerLink="/edit/demographic-info/{{farmerId}}">Demographic Info</a>
                </li>
                <li routerLinkActive="active"><a routerLink="/edit/field-info/{{farmerId}}">Field Info</a></li>
                <li routerLinkActive="active"><a routerLink="/edit/financial-plan/{{farmerId}}">Financial Planning
                        Info</a></li>
                <li routerLinkActive="active"><a routerLink="/edit/crop-market-plan/{{farmerId}}">Crop Marketing
                        Plan</a></li>
                <li routerLinkActive="active"><a routerLink="/edit/fop/{{farmerId}}">FRCM FPO</a></li>
                <li routerLinkActive="active"><a routerLink="/edit/tech-adoption/{{farmerId}}">Tech Adoption</a></li>
                <li routerLinkActive="active"><a routerLink="/edit/co-applicant/{{farmerId}}">Co Applicant</a></li>
                <li routerLinkActive="active"><a routerLink="/edit/declaration/{{farmerId}}">Declaration</a></li>
            </ul>
        </div>
    </div>

</header>