<article class="right-sec">
    <header>
      <div class="bd-header col-sm-10 col-md-10 col-xl-11">
        <div class="pro-img"><span>SS</span></div>
        <div class="pro-name">
          <p>Welcome</p>
          <h3>{{ userInfo["name"] }}</h3>
        </div>
      </div>
      <div class="bd-header-right col-sm-2 col-md-2 col-xl-1">
        <div class="logout-div">
          <a (click)="logOut()">Logout </a><!--class="btn btn-primary active" style="margin-left: 10px;"-->
        </div>
      </div>
    </header>

    <div class="farmer-detail">
        <ul>
          <li>
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
              <defs>
                <style>
                  .a {
                    fill: none;
                  }
                </style>
              </defs>
              <path class="a" d="M0,0H24V24H0Z" />
              <path d="M19,7h5V9H19Zm-2,5h7v2H17Zm3,5h4v2H20ZM2,22a8,8,0,1,1,16,0H16A6,6,0,1,0,4,22Zm8-9a6,6,0,1,1,6-6A6,6,0,0,1,10,13Zm0-2A4,4,0,1,0,6,7,4,4,0,0,0,10,11Z" />
            </svg>
            <span>{{ userInfo["name"] }}</span>
          </li>
          <li>
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
              <defs>
                <style>
                  .a {
                    fill: none;
                  }
                </style>
              </defs>
              <path class="a" d="M0,0H24V24H0Z" />
              <path d="M3,3H21a1,1,0,0,1,1,1V20a1,1,0,0,1-1,1H3a1,1,0,0,1-1-1V4A1,1,0,0,1,3,3ZM20,7.238l-7.928,7.1L4,7.216V19H20ZM4.511,5l7.55,6.662L19.5,5Z" />
            </svg><span>{{ userInfo?.email }}</span>
          </li>
          <li>
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
              <defs>
                <style>
                  .a {
                    fill: #fff;
                    opacity: 0;
                  }

                  .b {
                    fill: none;
                    stroke-linecap: round;
                    stroke-linejoin: round;
                    stroke-width: 1.5px;
                  }

                  .b,
                  .c {
                    stroke: #000;
                  }

                  .b,
                  .c,
                  .d {
                    fill-rule: evenodd;
                  }

                  .c {
                    stroke-width: 2px;
                  }
                </style>
              </defs>
              <g transform="translate(0.491)">
                <rect class="a" width="24" height="24" transform="translate(-0.491)" />
                <g transform="translate(3 1)">
                  <path class="b"
                    d="M6.563,0,3.6,1.974.4,6.965,0,9.188.521,10.8.794,12.61,1.305,13.7l.836.839,1.219.519,1.486.543.812.469,1.026.742,1.27.172,1.65-.667.946-.618,1.361-1.31.779-1.543.865-3.457L11.4,3.748l-1.5-1.773Z"
                    transform="translate(2.982 4.936)" />
                  <path class="c"
                    d="M9.438,5.056c5.113,1.691,6.55,5.876,6.436,11.11a2.453,2.453,0,0,0,1.552-2.284,3.214,3.214,0,0,0,.933-2.328,2.864,2.864,0,0,0,.177-2.608L18.4,8.186A6.235,6.235,0,0,0,15.7,3.692c.135-1.04-1.039-1.391-2.4-1.645-.4-1-1.6-1.1-2.974-1C10.107.424,9.082-.027,5.752,0A10.79,10.79,0,0,0,.16,7.984a3.293,3.293,0,0,0,.31,2.768,3.191,3.191,0,0,0,1.289,2.769c-.052.916.16,1.655,1.064,1.924l.8,1.325C2.868,10.512,6.471,6.131,9.438,5.056Z"
                    transform="translate(0 0)" />
                  <path class="d" d="M.627,0C1.54.1,1.962.231,2.6,1.439c.308.577,1.4,1.219,1.926.436a1.957,1.957,0,0,1-2.359.645C1.453,2.342-.049,1.827,0,.4Z" transform="translate(10.856 15.025)" />
                  <path class="d" d="M3.9,0C2.99.1,2.568.231,1.926,1.439,1.618,2.017.525,2.658,0,1.876a1.958,1.958,0,0,0,2.359.645C3.077,2.342,4.581,1.827,4.529.4Z"
                    transform="translate(5.815 15.025)" />
                  <path class="d" d="M.309.528A1.031,1.031,0,0,1,0,0,1.226,1.226,0,0,0,.144.156a2.2,2.2,0,0,0,1.992,0A.819.819,0,0,0,2.223.07a1.048,1.048,0,0,1-.292.459A1.219,1.219,0,0,1,.309.528Z"
                    transform="translate(9.432 17.676)" />
                </g>
              </g>
            </svg><span>Farmers Covered : </span>
          </li>
          <li>
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
              <defs>
                <style>
                  .a {
                    fill: none;
                  }
                </style>
              </defs>
              <path class="a" d="M0,0H24V24H0Z" />
              <path
                d="M2,3.993A1,1,0,0,1,2.992,3H21.008A.993.993,0,0,1,22,3.993V20.007a1,1,0,0,1-.992.993H2.992A.993.993,0,0,1,2,20.007ZM4,5V19H20V5ZM6,7h6v6H6ZM8,9v2h2V9ZM6,15H18v2H6Zm8-8h4V9H14Zm0,4h4v2H14Z" />
            </svg><span>{{ userInfo?.['custom:access_type'] || "NA" }}</span>
          </li>
          <li>
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
              <defs>
                <style>
                  .a {
                    fill: none;
                  }
                </style>
              </defs>
              <path class="a" d="M0,0H24V24H0Z" />
              <path d="M7,4V20H17V4ZM6,2H18a1,1,0,0,1,1,1V21a1,1,0,0,1-1,1H6a1,1,0,0,1-1-1V3A1,1,0,0,1,6,2Zm6,15a1,1,0,1,1-1,1A1,1,0,0,1,12,17Z" />
            </svg><span>{{ userInfo?.phone_number || "NA" }}</span>
          </li>
        </ul>
      </div>
</article>

<header class="profile-header">
    <div class="header-top">
<div class="far-p-con">
<a href="javascript:;" class="far-pro-btn">Farmer Profile</a>
</div>
        <div class="header-bottom">
            <div class="edit-picture">
                <div class="step-next profile-next">
                    <a href="/bd/dashboard" class="btn btn-back">Back </a>
                </div>
                <div class="farmer-pro">
                    <img *ngIf="displayFarmerProfileImage" [src]="displayFarmerProfileImage">
                    <img *ngIf="!displayFarmerProfileImage" src="../../../assets/images/profile-pic-dummy.jpg">
                </div>
                <!-- <div class="p">
                    <span class="profile-rating">4.1 <i class="fa fa-star"></i></span>
                    <p class="profile-name">{{demographicDisp?.farmerDetails?.firstName}}
                        {{demographicDisp?.farmerDetails?.middleName}}
                        {{demographicDisp?.farmerDetails?.lastName}}</p><br/>
                        <p><img src="../../../assets/images/profile-date.svg" alt=""><span> {{demographicDisp?.farmerDetails?.dob}}</span></p>
                </div>      -->
                <ul class="ul-flex">
                    <li>
                        <span>{{demographicDisp?.farmerDetails?.firstName}}
                            {{demographicDisp?.farmerDetails?.middleName}}
                            {{demographicDisp?.farmerDetails?.lastName}}</span><br/>
                            <span><img src="../../../assets/images/profile-date.svg" alt=""> {{demographicDisp?.farmerDetails?.dob}}</span>
                    </li>
                    <li><span>STATUS: </span><br>
                        <span class="color-green">Approved</span></li>
                </ul>         
                <!-- <div class="edit-picture-gap gender"><img src="../../../assets/images/profile-gender.svg" alt=""><span>{{demographicDisp?.farmerDetails?.gender}}</span>
                </div>
                <div class="edit-picture-gap phone-num">
                    <a href="tel:{{demographicDisp?.address?.mobileNumber}}">
                        <img src="../../../assets/images/profile-phone.svg" alt="">
                        <span>{{demographicDisp?.address?.mobileNumber}}</span>
                    </a>
                </div> -->
            </div>
            <!-- <div class="pro-right">
                <div class="language">
                    <select class="form-select" aria-label="Default select example">
                        <option selected>English</option>                        
                    </select>
                </div>
                <div class="step-next">
                    <a routerLink="/login" class="btn btn-editlogout">Logout </a>
                </div>
            </div> -->
        </div>
        <div class="profile-details">
            <ul>
                <li>
                    <span><img src="../../../assets/images/profile-address.svg" alt=""></span>
                    <div><span><b>KYC Valid Address: </b> {{demographicDisp?.address?.addressLine1}}
                            {{demographicDisp?.address?.addressLine2}} </span>
                        <br><span><b>Communication Address: </b> N/A</span>
                    </div>
                </li>
                <li><div class="col-md-12">
                    <span><img src="../../../assets/images/profile-gender.svg" alt="">{{demographicDisp?.farmerDetails?.gender}}
                </span><br/>
                    <div class="edit-picture-gap phone-num">
                        <a href="tel:{{demographicDisp?.address?.mobileNumber}}" class="color-black">
                            <img src="../../../assets/images/profile-phone.svg" alt="">
                            {{demographicDisp?.address?.mobileNumber}}
                        </a>
                    </div>
                </div>
                </li>
                <!-- <li>
                    <span><img src="../../../assets/images/profile-religion.svg" alt=""></span>
                    <div><span><b>Religion:
                            </b>{{demographicDisp?.farmerDetails?.religion}}</span><br><span><b>Caste:</b>
                            {{demographicDisp?.farmerDetails?.caste}}</span></div>
                </li> -->
            </ul>
        </div>
        <div class="hori-navigation">
            <ul>
                <li routerLinkActive="active"><a routerLink="/edit/summary/{{farmerId}}">Summary</a></li>
                <li routerLinkActive="active"><a routerLink="/edit/demographic-info/{{farmerId}}">Demographic Info</a>
                </li>
                <li routerLinkActive="active"><a routerLink="/edit/field-info/{{farmerId}}">Field Info</a></li>
                <li routerLinkActive="active"><a routerLink="/edit/financial-plan/{{farmerId}}">Financial Planning
                        Info</a></li>
                <li routerLinkActive="active"><a routerLink="/edit/crop-market-plan/{{farmerId}}">Crop Marketing
                        Plan</a></li>
                <li routerLinkActive="active"><a routerLink="/edit/fop/{{farmerId}}">FRCM FPO</a></li>
                <li routerLinkActive="active"><a routerLink="/edit/tech-adoption/{{farmerId}}">Tech Adoption</a></li>
                <li routerLinkActive="active"><a routerLink="/edit/co-applicant/{{farmerId}}">Co Applicant</a></li>
                <li routerLinkActive="active"><a routerLink="/edit/declaration/{{farmerId}}">Declaration</a></li>
            </ul>
        </div>
    </div>

</header>