/* START: MAP ****************************************** */
.map {
  background-color: #f3f3f3;
  width: 100%;
  height: 90vh;
}
html,
body,
#existing_farmers_mapbox,
#farms_pipeline_mapbox {
  width: 100%;
  height: 100%;
}
