<article class="right-sec">
    <app-edit-header></app-edit-header>
    <div class="bg-color summery">
        <div>
            <div class="row">
                <div class="col-md-12">
                    <div class="actual-facts summery-bg">
                        <h4 class="summery-heading"><span>Input sourcing</span><a href="javascript:void(0)"> <img src="../../../assets/images/edit-img.svg" alt=""></a></h4>
                        <div class="d-flex-profile kcc-details">
                            <p><span>Where do you procure the seed for different crops?</span>
                                <span><b *ngFor="let x of cropMrktPlanDisp?.seedProcure">
                                        {{x}}, </b>
                                    <b>{{cropMrktPlanDisp?.seedProcureOther}}</b></span>
                            </p>

                            <p><span>If used hybrid variety seeds, what difference do you observe in comparison to local
                                    varieties?</span><span><b>{{cropMrktPlanDisp?.varietyComparison}}</b></span>
                            </p>

                            <p><span>Where do you purchase your fertilizers and pesticides from for the cultivation
                                    cycle?</span>
                                <span><b *ngFor="let x of cropMrktPlanDisp?.fertilizerPurchase">
                                        {{x}}, </b>
                                    <b>{{cropMrktPlanDisp?.fertilizerPurchaseOther}}</b></span>
                            </p>

                            <p><span>How satisfied are you with the fertilizer and pesticide quality/service from the
                                    local input
                                    supplier?</span><span><b>{{cropMrktPlanDisp?.pesticideQuality}}
                                    </b></span></p>

                            <p><span>Who advises you on application of
                                    fertilizers/pesticides?</span>
                                <span><b *ngFor="let x of cropMrktPlanDisp?.fertilizerAdvise">
                                        {{x}},</b>
                                    <b>{{cropMrktPlanDisp?.fertilizerAdviseOther}}</b></span>


                            </p>
                        </div>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="actual-facts summery-bg">
                        <h4 class="summery-heading"><span>Product Market Plan</span><a href="javascript:void(0)"> <img src="../../../assets/images/edit-img.svg" alt=""></a></h4>
                        <p>How much of the crop output is used for seed replacement in the next crop cycle?</p>
                        <table>
                            <thead>
                                <tr>
                                    <td>Year-Season:</td>
                                    <td>Crop:</td>
                                    <td>% used for Self Consumption:</td>
                                    <td>% used for Seed Replacement:</td>
                                    <td>% used for Selling at Market Place</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><b>{{cropMrktPlanDisp?.year1 || 'NA'}}</b></td>
                                    <td><b>{{cropMrktPlanDisp?.crop1 || 'NA'}}</b></td>
                                    <td><b>{{cropMrktPlanDisp?.selfConsumption1 || 'NA'}}</b></td>
                                    <td><b>{{cropMrktPlanDisp?.seedReplacement1 || 'NA'}}</b></td>
                                    <td><b>{{cropMrktPlanDisp?.sellAtMarketPlace1 || 'NA'}}</b></td>
                                </tr>
                                <tr>
                                    <td><b>{{cropMrktPlanDisp?.year2 || 'NA'}}</b></td>
                                    <td><b>{{cropMrktPlanDisp?.crop2 || 'NA'}}</b></td>
                                    <td><b>{{cropMrktPlanDisp?.selfConsumption2 || 'NA'}}</b></td>
                                    <td><b>{{cropMrktPlanDisp?.seedReplacement2 || 'NA'}}</b></td>
                                    <td><b>{{cropMrktPlanDisp?.sellAtMarketPlace2 || 'NA'}}</b></td>
                                </tr>
                            </tbody>
                        </table>
                        
                        <div class="d-flex-profile kcc-details py-4">
                            <p>Where do you sell the produce?</p>
                        <p><span>Particular-1</span><span><b>{{cropMrktPlanDisp?.particular1 || 'NA'}}</b></span></p>
                        <p><span>Particular-2</span><span><b>{{cropMrktPlanDisp?.particular2 || 'NA'}}</b></span></p>
                        <p><span>Particular-3</span><span><b>{{cropMrktPlanDisp?.particular3 || 'NA'}}</b></span></p>
                        <p><span>Particular-4</span><span><b>{{cropMrktPlanDisp?.particular4 || 'NA'}}</b></span></p>                        
                        <p><span>Comment : </span><span><b>{{cropMrktPlanDisp?.sellProduceComment || 'NA'}}</b></span></p>
                            <p><span>Are you satisfied with the existing farm gate grading
                                    method?</span><span><b>{{cropMrktPlanDisp?.farmGateGrading}}</b></span>
                            </p>
                            <p><span>How long does it take before receiving money for the produce
                                    sold?</span><span><b>{{cropMrktPlanDisp?.durationReceivingMoney}}</b></span>
                            </p>
                            <p><span> Would you like to warehouse your produce before selling at the highest
                                    price?</span><span><b>{{cropMrktPlanDisp?.warehouseProduce}}
                                    </b></span></p>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>


</article>