<article class="right-sec">
    <app-edit-header></app-edit-header>
    <div class="bg-color summery">
        <div>
            <div class="row mb-3">
                <div class="col-md-12">
                    <!-- <div class="map">
                        <img src="../../../assets/images/map-img.png" alt="" width="100%">
                    </div> -->

                    <div class="map">
                        <div id="map" style="width: 100%; height: 385px; border: 1px solid #ccc"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <!-- <div class="actual-facts summery-bg">
                        <h4 class="summery-heading"><span>Cluster & season details</span><a href="javascript:void(0)">
                                <img src="../../../assets/images/edit-img.svg" alt=""></a></h4>
                        <ul class="d-flex-profile">
                            <li>
                                <h5>Cluster:</h5>
                                <p> Cluster1</p>
                            </li>
                            <li>
                                <h5>Cluster Area: </h5>
                                <p>5000 Ha</p>
                            </li>
                            <li>
                                <h5>Land survey/Khasara number: </h5>
                                <p>Abc1234567890</p>
                            </li>
                            <li>
                                <h5>Season Name: </h5>
                                <p> Rabi2021</p>
                            </li>
                            <li>
                                <h5>Planned Crops: </h5>
                                <p>Mustard, Soya, Isabel</p>
                            </li>
                        </ul>
                    </div> -->
                    <div class="actual-facts summery-bg">
                        <h4 class="summery-heading"><span>Field info</span><a href="javascript:void(0)"> <img src="../../../assets/images/edit-img.svg" alt=""></a></h4>
                        <ul class="d-flex-profile">

                            <table class="table">
                                <thead>
                                    <tr>
                                        <th> Field ID</th>
                                        <th> Area</th>
                                        <th> Irrigation</th>
                                        <th> Water Source</th>
                                        <th> Yield</th>
                                        <th> Soil Quality </th>
                                        <th> Water Quality </th>
                                        <th> Exp. Produce </th>
                                        <th> Bore Depth</th>
                                        <th> Pump depth</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let x of plannedDetails; let i = index">
                                        <td>{{x.fieldId}}</td>
                                        <td>{{x.fieldArea}}</td>
                                        <td>{{x.irrigationSystem}}</td>
                                        <td>{{x.waterSource}}</td>
                                        <td>{{x.crop}}</td>
                                        <td>{{x.soilQuality}}</td>
                                        <td>{{x.waterQuality}}</td>
                                        <td>{{x.expectedProduce}}</td>
                                        <td>{{getDepth(i,'Bore')}}</td>
                                        <td>{{getDepth(i,'Pump')}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </ul>
                    </div>
                    <div class="actual-facts summery-bg">
                        <h4 class="summery-heading"><span>Field info</span><a href="javascript:void(0)"> <img src="../../../assets/images/edit-img.svg" alt=""></a></h4>
                        <ul class="d-flex-profile">

                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>
                                            Field ID
                                        </th>
                                        <th>
                                            Ownership Type
                                        </th>
                                        <th>
                                            Co-owner Name
                                        </th>
                                        <th>
                                            Co-owner Contact no
                                        </th>
                                        <th>
                                            Ownership Doc
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let x of ownerShipDetails">
                                        <td>{{x.fieldOwnId}}</td>
                                        <td>{{x.ownerType}}</td>
                                        <td>{{x.fieldOwnCoOwner}}</td>
                                        <td>{{x.fieldOwnCoPh}}</td>
                                        <td>{{x.dependency}} <a href="javascript:void(0);">View</a></td>
                                    </tr>
                                </tbody>
                            </table>



                        </ul>
                    </div>
                    <div class="actual-facts summery-bg">
                        <h4 class="summery-heading"><span>Soil and water test report</span><a href="javascript:void(0)">
                                <img src="../../../assets/images/edit-img.svg" alt=""></a></h4>
                        <ul class="d-flex-profile">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>
                                            Type of test
                                        </th>
                                        <th>
                                            Yes/No
                                        </th>
                                        <th>
                                            When
                                        </th>
                                        <th>
                                            Report Recieved
                                        </th>
                                        <th>
                                            Report
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let x of typesOfTests">
                                        <td>{{x?.typeOfTest}}</td>
                                        <td>{{x?.yesNo}}</td>
                                        <td>{{x?.lastDone}}</td>
                                        <td>{{x?.testResult}}</td>
                                        <td>{{x?.dependency}} <a href="javascript:void(0);">View</a></td>
                                    </tr>
                                </tbody>
                            </table>
                        </ul>
                    </div>
                    <div class="actual-facts summery-bg">
                        <h4 class="summery-heading"><a href="javascript:void(0)"> <img src="../../../assets/images/edit-img.svg" alt=""></a></h4>
                        <div class="d-flex-profile ">
                            <p><span>Interested in planning cropping cycle based on soil and water
                                    test:</span><span><b> {{fieldInfo[0]?.undertaking_cultivation?.uc}}</b></span></p>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>


</article>