<article class="right-sec">
    <app-edit-header></app-edit-header>
    <div class="bg-color summery">
        <div>
            <div class="row mb-3">
                <div class="col-md-12">
                    <div class="map">
                        <img src="../../../assets/images/map-img.png" alt="" width="100%">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="actual-facts summery-bg">
                        <h4 class="summery-heading"><span>Cluster & season details</span><a href="javascript:void(0)">
                                <img src="../../../assets/images/edit-img.svg" alt=""></a></h4>
                        <ul class="d-flex-profile">
                            <li>
                                <h5>Cluster:</h5>
                                <p> Cluster1</p>
                            </li>
                            <li>
                                <h5>Cluster Area: </h5>
                                <p>5000 Ha</p>
                            </li>
                            <li>
                                <h5>Land survey/Khasara number: </h5>
                                <p>Abc1234567890</p>
                            </li>
                            <li>
                                <h5>Season Name: </h5>
                                <p> Rabi2021</p>
                            </li>
                            <li>
                                <h5>Planned Crops: </h5>
                                <p>Mustard, Soya, Isabel</p>
                            </li>
                        </ul>
                    </div>
                    <div class="actual-facts summery-bg">
                        <h4 class="summery-heading"><span>Field info</span><a href="javascript:void(0)"> <img
                                    src="../../../assets/images/edit-img.svg" alt=""></a></h4>
                        <ul class="d-flex-profile">
                            <li>
                                <h5>Field ID: </h5>
                                <p> AB123</p>
                                <p>AB123</p>
                            </li>
                            <li>
                                <h5>Area: </h5>
                                <p>5000 Ha</p>
                                <p>5000 Ha</p>
                            </li>
                            <li>
                                <h5>Irrigation: </h5>
                                <p>Surface irrigation</p>
                                <p>Surface irrigation</p>
                            </li>
                            <li>
                                <h5>Water Source: </h5>
                                <p> Pond</p>
                                <p>Pond</p>
                            </li>
                            <li>
                                <h5>Yield: </h5>
                                <p>Mustard</p>
                                <p>Mustard</p>
                            </li>
                            <li>
                                <h5>Soil Quality :</h5>
                                <p>Good</p>
                                <p>Good</p>
                            </li>
                            <li>
                                <h5>Water Quality :</h5>
                                <p>Good</p>
                                <p>Good</p>
                            </li>
                            <li>
                                <h5>Exp. Produce :</h5>
                                <p>Good</p>
                                <p>Good</p>
                            </li>
                            <li>
                                <h5>Bore Depth:</h5>
                                <p>200 M</p>
                                <p>200 M</p>
                            </li>
                            <li>
                                <h5>Pump depth:</h5>
                                <p>100 M</p>
                                <p>100 M</p>
                            </li>
                        </ul>
                    </div>
                    <div class="actual-facts summery-bg">
                        <h4 class="summery-heading"><span>Field info</span><a href="javascript:void(0)"> <img
                                    src="../../../assets/images/edit-img.svg" alt=""></a></h4>
                        <ul class="d-flex-profile">
                            <li>
                                <h5>Field ID: </h5>
                                <p> GF123</p>
                                <p>AB123</p>
                            </li>
                            <li>
                                <h5>Ownership Type: </h5>
                                <p>Owned</p>
                                <p>Joint</p>
                            </li>
                            <li>
                                <h5>Co-owner Name: </h5>
                                <p>N/A</p>
                                <p>Abhishek Sharma</p>
                            </li>
                            <li>
                                <h5>Co-owner Contact no: </h5>
                                <p> N/A</p>
                                <p>9876543210</p>
                            </li>
                            <li>
                                <h5>Ownership Doc: </h5>
                                <p>N/A</p>
                                <p><a href="javascript:void(0);">View</a></p>
                            </li>
                        </ul>
                    </div>
                    <div class="actual-facts summery-bg">
                        <h4 class="summery-heading"><span>Soil and water test report</span><a href="javascript:void(0)">
                                <img src="../../../assets/images/edit-img.svg" alt=""></a></h4>
                        <ul class="d-flex-profile">
                            <li>
                                <h5>Type of test: </h5>
                                <p> Water test</p>
                            </li>
                            <li>
                                <h5>Yes/No: </h5>
                                <p>Yes</p>
                            </li>
                            <li>
                                <h5>When: </h5>
                                <p>10th May 2021</p>
                            </li>
                            <li>
                                <h5>Report Recieved: </h5>
                                <p> Yes</p>
                            </li>
                            <li>
                                <h5>Report: </h5>
                                <p><a href="javascript:void(0);">View</a></p>
                            </li>
                        </ul>
                    </div>
                    <div class="actual-facts summery-bg">
                        <h4 class="summery-heading"><a href="javascript:void(0)"> <img
                                    src="../../../assets/images/edit-img.svg" alt=""></a></h4>
                        <div class="d-flex-profile ">
                            <p><span>Interested in planning cropping cycle based on soil and water
                                    test:</span><span><b>Yes</b></span></p>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>


</article>