<article class="right-sec">
    <app-edit-header></app-edit-header>
    <div class="bg-color summery">
        <div class="demographic-profile">
            <div class="row">
                <div class="col-md-3">
                    <div class="actual-facts summery-bg full-height">
                        <h4 class="summery-heading"><span>KYC Details</span> <a href="javascript:void(0)"> <img
                                    src="../../../assets/images/edit-img.svg" alt=""></a></h4>
                        <div class="d-flex-profile kyc-details">
                            <p><span><i class="fa fa-check"></i>Pan Card</span><span><a
                                        href="javascript:void(0);">View</a></span></p>
                            <p><span><i class="fa fa-check"></i>Adhar Card</span><span><a
                                        href="javascript:void(0);">View</a></span></p>

                        </div>
                    </div>


                </div>
                <div class="col-md-9">
                    <div class="actual-facts summery-bg full-height">
                        <h4 class="summery-heading"><span>Co-Applicant details</span><a href="javascript:void(0)"> <img
                                    src="../../../assets/images/edit-img.svg" alt=""></a></h4>
                        <ul class="d-flex-profile">
                            <li>
                                <h5>Name</h5>
                                <p> Lokesh Sharma</p>
                            </li>
                            <li>
                                <h5>Gender</h5>
                                <p>Male</p>
                            </li>
                            <li>
                                <h5>Religion</h5>
                                <p>Hindu</p>
                            </li>
                            <li>
                                <h5>Caste/Tribe</h5>
                                <p> Rajput</p>
                            </li>
                            <li>
                                <h5>Education</h5>
                                <p>10th</p>
                            </li>
                            <li>
                                <h5>Occupation</h5>
                                <p>Self employeed</p>
                            </li>
                            <li>
                                <h5>Annual Income</h5>
                                <p>INR 2,00,000.00</p>
                            </li>

                        </ul>
                    </div>

                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="actual-facts summery-bg full-height">
                        <h4 class="summery-heading"><span>Income Streams</span><a href="javascript:void(0)">
                                <img src="../../../assets/images/edit-img.svg" alt=""></a></h4>
                        <div class="d-flex-profile">
                            <p>1. Agriculture</p>
                            <p>2. Shop</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-9">

                    <div class="actual-facts summery-bg full-height">
                        <h4 class="summery-heading"><span>Property ownership</span><a href="javascript:void(0)">
                                <img src="../../../assets/images/edit-img.svg" alt=""></a></h4>
                        <ul class="d-flex-profile">
                            <li>
                                <h5>Type</h5>
                                <p> House</p>
                            </li>
                            <li>
                                <h5>Photo</h5>
                                <p><a href="javascript:void(0);">View</a></p>
                            </li>
                            <li>
                                <h5>Ownership Type</h5>
                                <p>Own</p>
                            </li>
                            <li>
                                <h5>Perticular</h5>
                                <p> Student</p>
                            </li>
                            <li>
                                <h5>Value</h5>
                                <p>INR 50,0000.00</p>
                            </li>

                        </ul>
                    </div>

                </div>
            </div>

        </div>
    </div>



</article>