<article class="right-sec">
    <app-edit-header></app-edit-header>
    <div class="bg-color summery">
        <div class="demographic-profile">
            <div class="row">
                <div class="col-md-3">
                    <div class="actual-facts summery-bg full-height">
                        <h4 class="summery-heading"><span>KYC Details</span> <a href="javascript:void(0)"> <img src="../../../assets/images/edit-img.svg" alt=""></a></h4>
                        <div class="d-flex-profile kyc-details">
                            <p><span><i class="fa fa-check"></i>Pan Card</span><span><a href="javascript:void(0);">View</a></span></p>
                            <p><span><i class="fa fa-check"></i>Adhar Card</span><span><a href="javascript:void(0);">View</a></span></p>

                        </div>
                    </div>


                </div>
                <div class="col-md-9">
                    <div class="actual-facts summery-bg full-height">
                        <h4 class="summery-heading"><span>Co-Applicant details</span><a href="javascript:void(0)"> <img src="../../../assets/images/edit-img.svg" alt=""></a></h4>
                        <ul class="d-flex-profile">
                            <li>
                                <h5>Name</h5>
                                <p> {{coApplicantDisp?.farmerDetails['firstName']}}{{coApplicantDisp?.farmerDetails['middleName']}}{{coApplicantDisp?.farmerDetails['lastName']}}</p>
                            </li>
                            <li>
                                <h5>Gender</h5>
                                <p>{{coApplicantDisp?.farmerDetails['gender']}}</p>
                            </li>
                            <li>
                                <h5>Religion</h5>
                                <p>{{coApplicantDisp?.farmerDetails['religion']}}</p>
                            </li>
                            <li>
                                <h5>Caste/Tribe</h5>
                                <p>{{coApplicantDisp?.farmerDetails['caste']}}</p>
                            </li>
                            <li>
                                <h5>Education</h5>
                                <p>{{coApplicantDisp?.educationQualification}}</p>
                            </li>
                            <li>
                                <h5>Occupation</h5>
                                <p>{{coApplicantDisp?.otherDetails['occupation']}}</p>
                            </li>
                            <li>
                                <h5>Annual Income</h5>
                                <p>INR {{coApplicantDisp?.otherDetails['fpoName']}}</p>
                            </li>

                        </ul>
                    </div>

                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="actual-facts summery-bg full-height">
                        <h4 class="summery-heading"><span>Income Streams</span><a href="javascript:void(0)">
                                <img src="../../../assets/images/edit-img.svg" alt=""></a></h4>
                        <div class="d-flex-profile">
                            <p>N/A</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-9">

                    <div class="actual-facts summery-bg full-height">
                        <h4 class="summery-heading"><span>Property ownership</span><a href="javascript:void(0)">
                                <img src="../../../assets/images/edit-img.svg" alt=""></a></h4>
                        <ul class="d-flex-profile">

                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Type</th>
                                        <th>Photo</th>
                                        <th>Ownership Type</th>
                                        <th>Perticular</th>
                                        <th>Value</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let x of coApplicantDisp?.propertyOwnership">
                                        <td>{{x.propertyType}}</td>
                                        <td>
                                            <p><a href="javascript:void(0);">View</a></p>
                                        </td>
                                        <td>{{x.ownershipType}}</td>
                                        <td>{{x.particular}}</td>
                                        <td>INR {{x.cumulativeValue}}</td>
                                    </tr>
                                </tbody>
                            </table>


                        </ul>
                    </div>

                </div>
            </div>

        </div>
    </div>



</article>