<div class="login-page">
    <div class="login-BD">
        <aside class="login-left">
            <div class="login-left">
                <p>Welcome to the</p>
                <h2>Farmer Rural Credit Mission</h2>
            </div>
        </aside>
        <article>
            <div class="login-right">
                <p>Login Now</p>
                <h2>Enter your credentials</h2>
                <form class="login-form">
                    <div class="lable-top">
                        <label>User Name</label>
                        <input type="text" class="form-control" id="" placeholder="nirbhay.kant@gmail.com">
                    </div>
                    <div class="lable-top">
                        <label>Password</label>
                        <input type="password" class="form-control" id="" placeholder="***********">
                    </div>
                    <div class="btn btn-login"><a href="javascript:void(0)" routerLink="/bd/dashboard">Continue <i
                                class="fa fa-arrow-right"></i></a></div>
                </form>
            </div>
        </article>
    </div>
</div>