<div class="login-page">
    <div class="login-BD">
        <aside class="login-left">
            <div class="login-left">
                <p>Welcome to the</p>
                <h2>Farmer Rural Credit Mission</h2>
            </div>
        </aside>
        <article>
            <div class="login-right">
                <p>Login Now</p>
                <h2>Enter your credentials</h2>
                <form class="login-form" [formGroup]="loginForm">
                    <div class="lable-top">
                        <label>User Name</label>
                        <input type="text" class="form-control" formControlName="userId"
                            placeholder="nirbhay.kant@gmail.com">
                        <div *ngIf="loginForm.controls['userId'].touched &&
                        loginForm.controls['userId'].invalid" class="text-danger">
                            <small *ngIf="loginForm.controls['userId'].errors &&
            loginForm.controls['userId'].errors?.['required']">
                                User Name is required.</small>
                        </div>

                    </div>
                    <div class="lable-top">
                        <label>Password</label>
                        <input type="password" class="form-control" formControlName="password"
                            placeholder="***********">
                        <div *ngIf="loginForm.controls['password'].touched &&
                            loginForm.controls['password'].invalid" class="text-danger">
                            <small *ngIf="loginForm.controls['password'].errors &&
                loginForm.controls['password'].errors?.['required']">
                                Password is required.</small>
                        </div>
                    </div>
                    <button class="btn btn-login" type="submit"><a>Continue <i
                                class="fa fa-arrow-right"></i></a></button>
                </form>
            </div>
        </article>
    </div>
</div>