<article class="right-sec">
    <app-edit-header></app-edit-header>
    <div class="bg-color summery">
        <div>
            <div class="row">
                <div class="col-md-12">
                    <div class="actual-facts summery-bg">
                        <h4 class="summery-heading"><span>Outlook</span>
                            <a href="javascript:void(0)">
                                <img src="../../../assets/images/edit-img.svg" alt="">
                            </a>
                        </h4>
                        <div class="d-flex-profile kcc-details">
                            <p>
                                <span>Do you think that you require help in farm yield improvisation?</span>
                                <span><b>
                                        {{techAdoptionDisp?.farmYieldImprovisation}}
                                    </b>
                                </span>
                            </p>
                            <p><span> Would you be comfortable to pay for technology if there is definite margin of
                                    improvement? </span><span><b>
                                        {{techAdoptionDisp?.payForTechnology}}</b></span>
                            </p>

                        </div>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="actual-facts summery-bg full-height">
                        <h4 class="summery-heading"><span>Awareness</span><a href="javascript:void(0)"> <img src="../../../assets/images/edit-img.svg" alt=""></a></h4>
                        <p>Are you aware of the following technologies? In your opinion, how helpful are they to you?
                        </p>
                        <div class="d-flex-profile kcc-details">
                            <p *ngFor="let elem of technologyAdoptionMaster['technologyOpinions']">
                                <span>{{elem.title}}</span>
                                <span><b>{{techAdoptionDisp[elem.formCntrlName] || 'N/A'}}</b></span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="actual-facts summery-bg full-height">
                        <h4 class="summery-heading"><span>Comment</span><a href="javascript:void(0)"> <img src="../../../assets/images/edit-img.svg" alt=""></a></h4>
                        <div class="d-flex-profile">
                            <p>
                                <span>
                                    {{techAdoptionDisp?.payForTechnologyComment}}
                                </span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>


</article>