<div class="main-farmer">
    <app-sidenav></app-sidenav>
    <article class="right-sec">
        <app-header></app-header>
        <div class="main-sec">
            <div class="financial-planning-form">
                <form [formGroup]="financialForm">
                    <div class="form-details">
                        <h3 class="form-title">1. What is your crop loan requirement for the planned crop season? </h3>
                        <div class="mb-3" formArrayName="loanReqPlaned" *ngFor="let item of getLoanReqPlanedControls(); let i = index;">
                            <div class="row align-items-center form-details-inner" [formGroupName]="i">
                                <div class="col-md-1 lable-top">
                                    <label>Field ID</label>
                                    <input type="text" class="form-control text-center" formControlName="fieldId" value="{{i+1}}" placeholder="{{i+1}}">
                                </div>
                                <div class="col-md-3 lable-top">
                                    <label>Crop-Loan Product</label>
                                    <select class="form-select" formControlName="cropLoanProduct">
                                        <option *ngFor="let indVal of financialMaster['cropLoanProduct']" value="{{indVal}}">
                                            {{indVal}}</option>
                                    </select>
                                </div>
                                <div class="col-md-3 lable-top">
                                    <label>Planned cultivation area (In Hectares)</label>
                                    <input type="text" class="form-control" maxlength="6" (keypress)="validateDecimalNo($event)" formControlName="plannedCultivationArea">
                                </div>
                                <div class="col-md-3 lable-top">
                                    <label>Amount(₹)</label>
                                    <input type="text" class="form-control" maxlength="10" (keypress)="validateNo($event)" formControlName="hectares">
                                </div>
                                <div class="col-md-2 lable-top">
                                    <label>Crop</label>
                                    <select class="form-select" formControlName="crop">
                                        <option value="">...</option>
                                        <option *ngFor="let indVal of commonMaster['crops']" value="{{indVal}}">
                                            {{indVal}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-details">
                        <h3 class="form-title">2. What other FRCM loan products you would be interested in?</h3>
                        <div class="row g-3 align-items-center">
                            <div class="col-md-6">
                                <table class="table loan product-table">
                                    <thead>
                                        <tr>
                                            <td></td>
                                            <td *ngFor="let x of interestedFRCMLoanProductsArray['thead']">{{x}}</td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let x of interestedFRCMLoanProductsArray['tbody'];let i=index">
                                            <td>{{x.displayLabel}}</td>
                                            <td *ngFor="let perIndex of [0,1,2]">
                                                <div class="form-check">
                                                    <input class="form-check-input" type="radio" formControlName="{{x.formControlName}}" value="{{interestedFRCMLoanProductsArray.thead[perIndex]}}">
                                                    <label class="form-check-label"></label>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-md-6">
                                <div class="lable-top">
                                    <label for="Comment" class="form-label">Comment</label>
                                    <textarea class="form-control" id="Comment" rows="8" formControlName="interestedFRCMLoanProductsComment"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-details">
                        <h3 class="form-title">3. What is your approximate expenditure for following farming activities?</h3>
                        <div class="cultivation-cost form-details-inner" formGroupName="cultivationCost">
                            <h3 class="form-title">A. Cultivation Cost</h3>
                            <div class="row g-3 align-items-center form-details-inner">
                                <div class="col-md-3">
                                    <label>Seed + Fertiliser + Pesticides</label>
                                </div>
                                <div class="col-md-3 lable-top">
                                    <label for="">Rabi 2022 (Planned)</label>
                                    <input type="text" class="form-control" formControlName="seedPlanned1" (keypress)="validateNo($event)">
                                </div>
                                <div class="col-md-3 lable-top">
                                    <label for="">Kharif 2022 (Planned)</label>
                                    <input type="text" class="form-control" formControlName="seedPlanned2" (keypress)="validateNo($event)">
                                </div>
                                <div class="col-md-3 lable-top">
                                    <label for="">Rabi 2021 (Historical)</label>
                                    <input type="text" class="form-control" formControlName="seedHistorical" (keypress)="validateNo($event)">
                                </div>
                            </div>
                            <div class="row g-3 align-items-center form-details-inner">
                                <div class="col-md-3">
                                    <label>Labour</label>
                                </div>
                                <div class="col-md-3 lable-top">
                                    <label for="">Rabi 2022 (Planned)</label>
                                    <input type="text" class="form-control" formControlName="labourPlanned1" (keypress)="validateNo($event)">
                                </div>
                                <div class="col-md-3 lable-top">
                                    <label for="">Kharif 2022 (Planned)</label>
                                    <input type="text" class="form-control" formControlName="labourPlanned2" (keypress)="validateNo($event)">
                                </div>
                                <div class="col-md-3 lable-top">
                                    <label for="">Rabi 2021 (Historical)</label>
                                    <input type="text" class="form-control" formControlName="labourHistorical" (keypress)="validateNo($event)">
                                </div>
                            </div>
                            <div class="row g-3 align-items-center form-details-inner">
                                <div class="col-md-3">
                                    <label>Farm Electricity</label>
                                </div>
                                <div class="col-md-3 lable-top">
                                    <label for="">Rabi 2022 (Planned)</label>
                                    <input type="text" class="form-control" formControlName="farmElectricityPlanned1" (keypress)="validateNo($event)">
                                </div>
                                <div class="col-md-3 lable-top">
                                    <label for="">Kharif 2022 (Planned)</label>
                                    <input type="text" class="form-control" formControlName="farmElectricityPlanned2" (keypress)="validateNo($event)">
                                </div>
                                <div class="col-md-3 lable-top">
                                    <label for="">Rabi 2021 (Historical)</label>
                                    <input type="text" class="form-control" formControlName="farmElectricityHistorical" (keypress)="validateNo($event)">
                                </div>
                            </div>
                            <div class="row g-3 align-items-center form-details-inner">
                                <div class="col-md-3">
                                    <label>Machinery</label>
                                </div>
                                <div class="col-md-3 lable-top">
                                    <label for="">Rabi 2022 (Planned)</label>
                                    <input type="text" class="form-control" formControlName="machineryPlanned1" (keypress)="validateNo($event)">
                                </div>
                                <div class="col-md-3 lable-top">
                                    <label for="">Kharif 2022 (Planned)</label>
                                    <input type="text" class="form-control" formControlName="machineryPlanned2" (keypress)="validateNo($event)">
                                </div>
                                <div class="col-md-3 lable-top">
                                    <label for="">Rabi 2021 (Historical)</label>
                                    <input type="text" class="form-control" formControlName="machineryHistorical" (keypress)="validateNo($event)">
                                </div>
                            </div>
                        </div>
                        <div class="crop-wise-selling form-details-inner">
                            <h3 class="form-title">B. Season crop wise selling information</h3>
                            <div formArrayName="seasonCrop" *ngFor="let item of getSeasonCropControls(); let i = index;">
                                <div class="display-flex" [formGroupName]="i">
                                    <div class="flex-1 lable-top">
                                        <label for="">Season</label>
                                        <select class="form-select" formControlName="season">
                                            <option value="">...</option>
                                            <option *ngFor="let indVal of commonMaster['season']" value="{{indVal}}">{{indVal}}</option>
                                        </select>
                                    </div>
                                    <div class="flex-1 lable-top">
                                        <label>Crop</label>
                                        <select class="form-select" formControlName="crop">
                                            <option value="">...</option>
                                            <option *ngFor="let indVal of commonMaster['crops']" value="{{indVal}}">{{indVal}}</option>
                                        </select>
                                    </div>
                                    <div class="flex-1 lable-top">
                                        <label>Sold at</label>
                                        <select class="form-select" formControlName="soldAt">
                                            <option value="">...</option>
                                            <option *ngFor="let indVal of financialMaster['cropSoldPlace']" value="{{indVal}}">
                                                {{indVal}}</option>
                                        </select>
                                    </div>
                                    <div class="flex-1 lable-top">
                                        <label for="">Quantity Sold (in KG)</label>
                                        <input type="text" class="form-control" maxlength="10" (keypress)="validateNo($event)" id="" placeholder="" formControlName="quantitySold">
                                    </div>
                                    <div class="flex-1 lable-top">
                                        <label for="">Selling Price(₹)</label>
                                        <input type="text" class="form-control" maxlength="10" (keypress)="validateNo($event)" id="" placeholder="" formControlName="sellingPrice">
                                    </div>
                                    <div class="flex-1 lable-top">
                                        <label for="">Selling Date</label>
                                        <input type="date" class="form-control" formControlName="sellingDate">
                                    </div>
                                </div>
                                <div class="flex-1 add-another">
                                    <a *ngIf="getSeasonCropControls().length!=1  && i!=getSeasonCropControls().length-1" href="javascript:void(0)" class="delete-item " (click)="removeSeasonCrop(i)"><i
                                            class="fa fa-trash-o text-danger"></i></a>
                                    <a *ngIf="i==getSeasonCropControls().length-1" href="javascript:void(0)" (click)="addSeasonCrop()">+ Add Another</a>
                                </div>
                            </div>


                            <!-- <div class="row form-details-inner">
                                <div class="col-md-3 season-crop">
                                    <div class="">
                                        <p>Kharif 2022</p>
                                    </div>
                                </div>
                                <div class="col-md-9">
                                    <div class="row align-items-center form-details-inner">
                                        <div class="col-md-2 lable-top">
                                            <label>Crop</label>
                                            <select class="form-select">
                                                <option value="">...</option>
                                                <option *ngFor="let indVal of commonMaster['crops']" value="{{indVal}}">
                                                    {{indVal}}</option>
                                            </select>
                                        </div>
                                        <div class="col-md-3 lable-top">
                                            <label>Sold at</label>
                                            <select class="form-select">
                                                <option value="">...</option>
                                                <option *ngFor="let indVal of financialMaster['cropSoldPlace']" value="{{indVal}}">
                                                    {{indVal}}</option>
                                            </select>


                                        </div>
                                        <div class="col-md-2 lable-top">
                                            <label for="">Quantity Sold</label>
                                            <input type="text" class="form-control" maxlength="10" (keypress)="validateNo($event)" id="" placeholder="">
                                        </div>
                                        <div class="col-md-2 lable-top">
                                            <label for="">Selling Price</label>
                                            <input type="text" class="form-control" maxlength="10" (keypress)="validateNo($event)" id="" placeholder="">
                                        </div>
                                        <div class="col-md-3 lable-top">
                                            <label for="">Selling Date</label>
                                            <input type="date" class="form-control">
                                        </div>
                                    </div>
                                    <div class="row align-items-center form-details-inner">
                                        <div class="col-md-2 lable-top">
                                            <label>Crop</label>
                                            <select class="form-select">
                                                <option value="">...</option>
                                                <option *ngFor="let indVal of commonMaster['crops']" value="{{indVal}}">
                                                    {{indVal}}</option>
                                            </select>
                                        </div>
                                        <div class="col-md-3 lable-top">
                                            <label>Sold at</label>
                                            <select class="form-select">
                                                <option value="">...</option>
                                                <option *ngFor="let indVal of financialMaster['cropSoldPlace']" value="{{indVal}}">
                                                    {{indVal}}</option>
                                            </select>
                                        </div>
                                        <div class="col-md-2 lable-top">
                                            <label for="">Quantity Sold</label>
                                            <input type="text" class="form-control" maxlength="10" (keypress)="validateNo($event)" id="" placeholder="">
                                        </div>
                                        <div class="col-md-2 lable-top">
                                            <label for="">Selling Price</label>
                                            <input type="text" class="form-control" maxlength="10" (keypress)="validateNo($event)" id="" placeholder="">
                                        </div>
                                        <div class="col-md-3 lable-top">
                                            <label for="">Selling Date</label>
                                            <input type="date" class="form-control">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row form-details-inner">
                                <div class="col-md-3 season-crop">
                                    <div class="">
                                        <p>Rabi 2021</p>
                                    </div>
                                </div>
                                <div class="col-md-9">
                                    <div class="row align-items-center form-details-inner">
                                        <div class="col-md-2 lable-top">
                                            <label>Crop</label>
                                            <select class="form-select">
                                                <option value="">...</option>
                                                <option *ngFor="let indVal of commonMaster['crops']" value="{{indVal}}">
                                                    {{indVal}}</option>
                                            </select>
                                        </div>
                                        <div class="col-md-3 lable-top">
                                            <label>Sold at</label>
                                            <select class="form-select">
                                                <option value="">...</option>
                                                <option *ngFor="let indVal of financialMaster['cropSoldPlace']" value="{{indVal}}">
                                                    {{indVal}}</option>
                                            </select>
                                        </div>
                                        <div class="col-md-2 lable-top">
                                            <label for="">Quantity Sold</label>
                                            <input type="text" class="form-control" maxlength="10" (keypress)="validateNo($event)" id="" placeholder="">
                                        </div>
                                        <div class="col-md-2 lable-top">
                                            <label for="">Selling Price</label>
                                            <input type="text" class="form-control" maxlength="10" (keypress)="validateNo($event)" id="" placeholder="">
                                        </div>
                                        <div class="col-md-3 lable-top">
                                            <label for="">Selling Date</label>
                                            <input type="date" class="form-control">
                                        </div>
                                    </div>
                                    <div class="row align-items-center form-details-inner">
                                        <div class="col-md-2 lable-top">
                                            <label>Crop</label>
                                            <select class="form-select">
                                                <option value="">...</option>
                                                <option *ngFor="let indVal of commonMaster['crops']" value="{{indVal}}">
                                                    {{indVal}}</option>
                                            </select>
                                        </div>
                                        <div class="col-md-3 lable-top">
                                            <label>Sold at</label>
                                            <select class="form-select">
                                                <option value="">...</option>
                                                <option *ngFor="let indVal of financialMaster['cropSoldPlace']" value="{{indVal}}">
                                                    {{indVal}}</option>
                                            </select>
                                        </div>
                                        <div class="col-md-2 lable-top">
                                            <label for="">Quantity Sold</label>
                                            <input type="text" class="form-control" maxlength="10" (keypress)="validateNo($event)" id="" placeholder="">
                                        </div>
                                        <div class="col-md-2 lable-top">
                                            <label for="">Selling Price</label>
                                            <input type="text" class="form-control" maxlength="10" (keypress)="validateNo($event)" id="" placeholder="">
                                        </div>
                                        <div class="col-md-3 lable-top">
                                            <label for="">Selling Date</label>
                                            <input type="date" class="form-control">
                                        </div>
                                    </div>
                                </div>
                            </div> -->
                        </div>
                    </div>


                    <div class="form-details">
                        <h3 class="form-title">4. What are your major monthly expenditures for your family?</h3>
                        <div class="row monthly-expenditure">
                            <div class="monthly-table">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <td>Items</td>
                                            <td>Expenses</td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Household – Grocery/Repairs</td>
                                            <td><input type="text" class="form-control" maxlength="10" (keypress)="validateNo($event)" formControlName="groceryExpense"></td>
                                        </tr>
                                        <tr>
                                            <td>Health - Doctors Expense/ Medical Treatment</td>
                                            <td><input type="text" class="form-control" maxlength="10" (keypress)="validateNo($event)" formControlName="medicalExpense"></td>
                                        </tr>
                                        <tr>
                                            <td>Education</td>
                                            <td><input type="text" class="form-control" maxlength="10" (keypress)="validateNo($event)" formControlName="educationExpense"></td>
                                        </tr>
                                        <tr>
                                            <td>Rental paying</td>
                                            <td><input type="text" class="form-control" maxlength="10" (keypress)="validateNo($event)" formControlName="rentalExpense"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="monthly-table">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <td>Items</td>
                                            <td>Expenses</td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>House Electricity</td>
                                            <td><input type="text" class="form-control" maxlength="10" (keypress)="validateNo($event)" formControlName="electricityExpense"></td>
                                        </tr>
                                        <tr>
                                            <td>Interest Payments</td>
                                            <td><input type="text" class="form-control" maxlength="10" (keypress)="validateNo($event)" formControlName="interestExpense"></td>
                                        </tr>
                                        <tr>
                                            <td>Others, please specify</td>
                                            <td><input type="text" class="form-control" maxlength="10" (keypress)="validateNo($event)" formControlName="otherExpense"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </div>
                    <div class="form-details">
                        <div class="kcc-loan form-details-inner">
                            <h3 class="form-title">5A. Which Bank do you avail KCC loan from? </h3>
                            <div class="display-flex">
                                <div class="flex-1" *ngFor="let indType of financialMaster['KCCLoanBank']">
                                    <label class="form-check-label form-check bordered-radio" for="{{indType}}">
                                        <input class="form-check-input" type="radio" formControlName="KCCLoanBank" value="{{indType}}" id="{{indType}}"><span>{{indType}}</span>
                                    </label>
                                </div>
                                <div class="col-auto lable-top">
                                    <label>Other</label>
                                    <input type="text" class="form-control" placeholder="" formControlName="KCCLoanBankOther">
                                </div>
                            </div>
                        </div>
                        <div class="kcc-credit form-details-inner">
                            <h3 class="form-title">5B. What is the maximum credit did you get last year (KCC credit)?
                            </h3>
                            <div class="display-flex">
                                <div class="flex-1 lable-top">
                                    <label>Credited Amount(₹)</label>
                                    <input type="text" class="form-control" maxlength="10" (keypress)="validateNo($event)" formControlName="KCCLoanCreditedAmount">
                                </div>
                                <div class="flex-1 lable-top">
                                    <label>Date of disbursement</label>
                                    <input type="date" class="form-control" formControlName="KCCLoanDisbursementDate" (change)="checkRepaymentDate()">
                                </div>
                                <div class="flex-1 lable-top">
                                    <label>Repayment Amount(₹)</label>
                                    <input type="text" class="form-control" maxlength="10" (keypress)="validateNo($event)" formControlName="KCCLoanRepaymentAmount">
                                </div>
                                <div class="flex-1 lable-top">
                                    <label>Repayment Date</label>
                                    <input type="date" class="form-control" formControlName="KCCLoanRepaymentDate" (change)="checkRepaymentDate()">
                                    <div *ngIf="KCCLoanRepaymentDateError" class="form-text text-danger">
                                        <small *ngIf="KCCLoanRepaymentDateError">Repayment date is greater than date of disbursement</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="land-kcc-loan form-details-inner">
                            <h3 class="form-title">5C. What are the size of the land for the which KCC loan got granted.
                            </h3>
                            <div class="row align-items-center">
                                <div class="col-md-4 lable-top">
                                    <label>Land Size (in Hectares)</label>
                                    <input type="text" class="form-control" formControlName="loanLandSize">
                                </div>
                            </div>
                        </div>
                        <div class="other-loan form-details-inner">
                            <h3 class="form-title">5D. Have you taken any other loan?</h3>
                            <div class="row align-items-center">
                                <div class="col-auto">
                                    <label class="form-check-label form-check bordered-radio" for="takenOtherLoanYES">
                                        <input class="form-check-input" type="radio" formControlName="takenOtherLoan" value="Yes" id="takenOtherLoanYES">Yes</label>
                                </div>
                                <div class="col-auto">
                                    <label class="form-check-label form-check bordered-radio" for="takenOtherLoanNO">
                                        <input class="form-check-input" type="radio" formControlName="takenOtherLoan" value="No" id="takenOtherLoanNO">No</label>
                                </div>
                            </div>
                        </div>
                        <div class="other-loan form-details-inner ol-transaction">
                            <h3 class="form-title">5E. Please provide details.</h3>
                            <div class="row align-items-center">
                                <div class="col-md-2 lable-top">
                                    <label>Bank Name</label>
                                    <input type="text" class="form-control" formControlName="otherLoanBank">
                                </div>
                                <div class="col-md-2 lable-top">
                                    <label>Credited Amount(₹)</label>
                                    <input type="text" class="form-control" maxlength="10" (keypress)="validateNo($event)" formControlName="otherLoanCreditedAmount">
                                </div>
                                <div class="col-md-2 lable-top">
                                    <label>Date of disbursement</label>
                                    <input type="date" class="form-control" formControlName="otherLoanDisbursementDate" (change)="checkOtherRepaymentDate()">
                                </div>
                                <div class="col-md-2 lable-top">
                                    <label>Repayment Amount(₹)</label>
                                    <input type="text" class="form-control" maxlength="10" (keypress)="validateNo($event)" formControlName="otherLoanRepaymentAmount">
                                </div>
                                <div class="col-md-2 lable-top">
                                    <label>Repayment Date</label>
                                    <input type="date" class="form-control" formControlName="otherLoanRepaymentDate" (change)="checkOtherRepaymentDate()">
                                    <div *ngIf="otherLoanRepaymentDateError" class="form-text text-danger">
                                        <small *ngIf="otherLoanRepaymentDateError">Repayment date is greater than date of disbursement</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-details">
                        <div class="form-details-inner">
                            <h3 class="form-title">6A. How much premium did you pay for the PMFBY on your KCC Loan in
                                last season?</h3>
                            <div class="row align-items-center">
                                <div class="col-md-2 lable-top">
                                    <label>Amount paid(₹)</label>
                                    <input type="text" class="form-control" maxlength="10" (keypress)="validateNo($event)" formControlName="PMFBYAmountPaid">
                                </div>
                                <div class="col-md-2 lable-top">
                                    <label>Date of payment</label>
                                    <input type="date" class="form-control" formControlName="PMFBYPaymentDate">
                                </div>
                            </div>
                        </div>
                        <div class="form-details-inner">
                            <h3 class="form-title">6B. Follow up question</h3>
                            <div formArrayName="insuranceDetails" *ngFor="let item of getInsuranceDetailsControls(); let i = index;">
                                <div class="row align-items-center form-details-inner" [formGroupName]="i">
                                    <div class="col-md-2 lable-top">
                                        <label>Insurance type</label>
                                        <select class="form-select" formControlName="insuranceType">
                                            <option value="">...</option>
                                            <option *ngFor="let indVal of financialMaster['insuranceType']" value="{{indVal}}">
                                                {{indVal}}</option>
                                        </select>
                                    </div>
                                    <div class="col-md-2 lable-top">
                                        <label>Month-Year last taken</label>
                                        <input type="text" class="form-control" formControlName="monthYearTaken">
                                    </div>
                                    <div class="col-md-2 lable-top">
                                        <label>Premium paid(₹)</label>
                                        <input type="text" class="form-control" maxlength="10" (keypress)="validateNo($event)" formControlName="premiumPaid">
                                    </div>
                                    <div class="col-md-3 lable-top">
                                        <label>Settlement amount credited?</label>
                                        <div class="two-radio">
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" id="Amount-Yes{{i}}" formControlName="isSettlementAmountCredited" value="Yes"><label
                                                    class="form-check-label" for="Amount-Yes{{i}}">
                                                    Yes</label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" id="Amount-No{{i}}" formControlName="isSettlementAmountCredited" value="No"><label class="form-check-label"
                                                    for="Amount-No{{i}}">
                                                    No</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3 lable-top">
                                        <label>Satisfied with the disbursement?</label>
                                        <div class="two-radio">
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" id="disbursement-Yes{{i}}" formControlName="isDisbursementSatisfied" value="Yes"><label
                                                    class="form-check-label" for="disbursement-Yes{{i}}"> Yes</label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" id="disbursement-No{{i}}" formControlName="isDisbursementSatisfied" value="No"><label
                                                    class="form-check-label" for="disbursement-No{{i}}"> No</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="flex-1 add-another">
                                    <a *ngIf="getInsuranceDetailsControls().length!=1  && i!=getInsuranceDetailsControls().length-1" href="javascript:void(0)" class="delete-item"
                                        (click)="removeInsuranceDetails(i)"><i class="fa fa-trash-o text-danger"></i></a>
                                    <a *ngIf="i==getInsuranceDetailsControls().length-1" href="javascript:void(0)" (click)="addInsuranceDetails()">+ Add Another</a>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="form-details">
                        <h3 class="form-title">7. Preferred source of credit outside KCC?<br> <span style="color: #6a6a6a;font-size: 14px;">Specify interest rate (2% per month, 3%
                                per month, etc.)</span> </h3>
                        <div class="row align-items-center">
                            <div class="advice-cultivation">
                                <div class="col-md-2">
                                    <label class="label-title">Rank Order</label>
                                </div>
                                <div class="credit-outside">

                                    <div class="col-auto" *ngFor="let indStat of preferredCreditSourceRankOrderArray">
                                        <label class="form-check-label form-check bordered-check" for="{{ indStat }}">
                                            <input class="form-check-input" type="checkbox" id="{{ indStat }}" (click)="
                                            selectCheckboxArray(
                                                $event,
                                                'preferredCreditSourceRankOrder',
                                                indStat
                                                )
                                            " [checked]="
                                                this.financialForm.controls[
                                                'preferredCreditSourceRankOrder'
                                                ].value?.includes(indStat)
                                            " /><span>{{ indStat }}</span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="advice-cultivation">
                                <div class="col-md-2">
                                    <label class="label-title">ROI charged per month</label>
                                </div>
                                <div class="credit-outside rank-order">
                                    <div class="col-auto">
                                        <input class="form-control" type="text" formControlName="commissionAgentROICharge">
                                    </div>
                                    <div class="col-auto">
                                        <input class="form-control" type="text" formControlName="familyROICharge">
                                    </div>
                                    <div class="col-auto">
                                        <input class="form-control" type="text" formControlName="inputSupplierROICharge">
                                    </div>
                                    <div class="col-auto">
                                        <input class="form-control" type="text" formControlName="localSahookarROICharge">
                                    </div>
                                    <div class="col-auto">
                                        <input class="form-control" type="text" formControlName="goldLoanROICharge">
                                    </div>
                                </div>
                            </div>
                            <div class="advice-cultivation">
                                <div class="col-md-2">
                                    <label class="label-title">Amount of loan</label>
                                </div>
                                <div class="credit-outside rank-order">
                                    <div class="col-auto">
                                        <input class="form-control" type="text" formControlName="commissionAgentLoanAmount">
                                    </div>
                                    <div class="col-auto">
                                        <input class="form-control" type="text" formControlName="familyLoanAmount">
                                    </div>
                                    <div class="col-auto">
                                        <input class="form-control" type="text" formControlName="inputSupplierLoanAmount">
                                    </div>
                                    <div class="col-auto">
                                        <input class="form-control" type="text" formControlName="localSahookarLoanAmount">
                                    </div>
                                    <div class="col-auto">
                                        <input class="form-control" type="text" formControlName="goldLoanLoanAmount">
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="form-details">
                        <h3 class="form-title">
                            8. What is the reason for preferring any of the above agents?
                        </h3>
                        <div class="agent-rank-order">
                            <label class="form-check-label form-check bordered-check" *ngFor="let indStat of financialMaster['reasonAgent']" for="{{ indStat }}reasonAgent">
                                <input class="form-check-input" type="checkbox" id="{{ indStat }}reasonAgent" (click)="
                                selectCheckboxArray(
                                    $event,
                                    'reasonAgent',
                                    indStat
                                    )
                                " [checked]="
                                    this.financialForm.controls[
                                    'reasonAgent'
                                    ].value?.includes(indStat)
                                " /><span>{{ indStat }}</span>
                            </label>
                        </div>
                    </div>
                    <div class="form-details">
                        <h3 class="form-title">9. What is the collateral being pledged against credit outside KCC? </h3>
                        <div class="row">
                            <div class="col-auto" *ngFor="let indStat of financialMaster['pledgedCollateral']">
                                <label class="form-check-label form-check bordered-check" for="{{ indStat }}pledgedCollateral">
                                    <input class="form-check-input" type="checkbox" id="{{ indStat }}pledgedCollateral" (click)="
                                    selectCheckboxArray(
                                        $event,
                                        'pledgedCollateral',
                                        indStat
                                        )
                                    " [checked]="
                                        this.financialForm.controls[
                                        'pledgedCollateral'
                                        ].value?.includes(indStat)
                                    " /><span>{{ indStat }}</span>
                                </label>
                            </div>
                            <div class="col-auto lable-top">
                                <label>Mention other (if any)</label>
                                <input type="text" class="form-control" formControlName="pledgedCollateralOther">
                            </div>
                        </div>
                    </div>
                    <div class="form-details">
                        <h3 class="form-title">10. Have you availed farm loan waiver? </h3>
                        <div class="row">
                            <div class="col-auto">
                                <label class="form-check-label form-check bordered-check" for="loan-yes">
                                    <input class="form-check-input" type="radio" formControlName="availedFarmLoanWaiver" id="loan-yes" value="Yes">Yes</label>
                            </div>
                            <div class="col-auto">
                                <label class="form-check-label form-check bordered-check" for="loan-no">
                                    <input class="form-check-input" type="radio" formControlName="availedFarmLoanWaiver" id="loan-no" value="No">No</label>
                            </div>
                            <div class="col-auto">
                                <label class="form-check-label form-check bordered-check" for="loan-gold">
                                    <input class="form-check-input" type="radio" formControlName="availedFarmLoanWaiver" id="loan-gold" value="Gold">Gold</label>
                            </div>
                            <div class="col-auto lable-top">
                                <label>Mention other (if any)</label>
                                <input type="text" class="form-control" name="" placeholder="" formControlName="availedFarmLoanWaiverOther">
                            </div>
                        </div>
                    </div>
                    <div class="form-details">
                        <div class="form-details-inner">
                            <h3 class="form-title">11A. Do you own tractor?</h3>
                            <div class="row align-items-center">
                                <div class="col-auto">
                                    <label class="form-check-label form-check bordered-radio" for="tractor-yes">
                                        <input class="form-check-input" type="radio" formControlName="ownTractor" id="tractor-yes" value="Yes">Yes</label>
                                </div>
                                <div class="col-auto">
                                    <label class="form-check-label form-check bordered-radio" for="tractor-no">
                                        <input class="form-check-input" type="radio" formControlName="ownTractor" id="tractor-no" value="No">No</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-details-inner">
                            <h3 class="form-title">11B. Any of the following Farm Machinery do you Own/Rent?
                            </h3>
                            <div class="row align-items-center">
                                <div class="select-advice innovative-way">
                                    <label class="form-check-label form-check bordered-check" *ngFor="let indStat of financialMaster['farmMachinery']" for="{{ indStat }}farmMachinery">
                                        <input class="form-check-input" type="checkbox" id="{{ indStat }}farmMachinery" (click)="
                                        selectCheckboxArray(
                                              $event,
                                              'farmMachinery',
                                              indStat
                                            )
                                          " [checked]="
                                            this.financialForm.controls[
                                              'farmMachinery'
                                            ].value?.includes(indStat)
                                          " /><span>{{ indStat }}</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-details">
                        <h3 class="form-title">12. Bank details </h3>
                        <div formArrayName="bankDetails" *ngFor="let item of getBankDetailsControls(); let i = index;">
                            <div class="display-flex" [formGroupName]="i">
                                <div class="flex-1 lable-top">
                                    <label for="">Bank Name</label>
                                    <input type="text" class="form-control" formControlName="bankName">
                                </div>
                                <div class="flex-1 lable-top">
                                    <label for="">Account Number</label>
                                    <input type="text" class="form-control" maxlength="14" (keypress)="validateNo($event)" formControlName="accountNum">
                                </div>
                                <div class="flex-1 lable-top">
                                    <label for="">IFSC Code</label>
                                    <input type="text" class="form-control" formControlName="IFSCode">
                                </div>
                                <div class="flex-1 lable-top">
                                    <label for="">Customer ID (for existing customer)</label>
                                    <input type="text" class="form-control" formControlName="customerID">
                                </div>
                            </div>
                            <div class="flex-1 add-another">
                                <a *ngIf="getBankDetailsControls().length!=1  && i!=getBankDetailsControls().length-1" href="javascript:void(0)" class="delete-item " (click)="removeBankDetails(i)"><i
                                        class="fa fa-trash-o text-danger"></i></a>
                                <a *ngIf="i==getBankDetailsControls().length-1" href="javascript:void(0)" (click)="addBankDetails()">+ Add Another</a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </article>
</div>