<article class="right-sec">
    <app-edit-header></app-edit-header>
    <div class="bg-color summery">
        <div>
            <div class="row">
                <div class="col-md-6">
                    <div class="actual-facts summery-bg full-height">
                        <h4 class="summery-heading"><span>Customer Pain points</span><a href="javascript:void(0)"> <img
                                    src="../../../assets/images/edit-img.svg" alt=""></a></h4>
                        <p>Which verticals would you like to be addressed first?</p>
                        <div class="d-flex-profile">
                            <p><span><b>Rank: 1 .</b></span><span>Access to good quality Agri inputs</span></p>
                            <p><span><b>Rank: 2.</b></span><span>Food Processing and Branding</span></p>
                            <p><span><b>Rank: 3.</b></span><span>Working capital cycle requirement</span></p>
                        </div>
                        <p class="py-3"><a href="javascript:void(0)"><b>View Details</b></a></p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="actual-facts summery-bg full-height">
                        <h4 class="summery-heading"><span>FPO Membership</span><a href="javascript:void(0)"> <img
                                    src="../../../assets/images/edit-img.svg" alt=""></a></h4>
                        <div class="d-flex-profile kcc-details fcrm-fpo-profile">
                            <p><span>How likely are you to enrol yourself as a member of FRCM FPO?</span><span
                                    class="enrol-fcrm">10/10</span></p>
                            <p><span>Are you willing to follow suggestions from the company regularly which includes
                                    adopting the SOPs provided at the beginning of
                                    cultivation?</span><span><b>Yes</b></span></p>
                            <p><span>If you become a member of FPO, can we help to consolidate all your existing loans
                                    and provide a flexible repayment cycle period?</span><span><b>Yes</b></span></p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>


</article>