<div class="main-farmer">
    <app-sidenav></app-sidenav>
    <article class="right-sec">
        <app-header></app-header>
        <div class="main-sec">
            <div class="idea-like">
                <div class="row align-items-center justify-content-center">
                    <div class="overall-idea">
                        <h3>How do you like the overall idea</h3>
                    </div>
                    <div class="face-smiley">
                        <ul>
                            <li><input type="radio" name="emotion" id="angry" class="input-hidden" checked="" /><label
                                    for="angry">
                                    <img src="../../../assets/images/crying-face.png" alt="I'm angry" width="50px" />
                                    <p>Angry</p>
                                </label></li>
                            <li><input type="radio" name="emotion" id="not_happy" class="input-hidden" /><label
                                    for="not_happy">
                                    <img src="../../../assets/images/not-happy.png" alt="I'm not happy" width="50px" />
                                    <p>Not happy</p>
                                </label></li>
                            <li><input type="radio" name="emotion" id="average" class="input-hidden" /><label
                                    for="average">
                                    <img src="../../../assets/images/average.png" alt="I'm average happy"
                                        width="50px" />
                                    <p>Average</p>
                                </label></li>
                            <li><input type="radio" name="emotion" id="happy" class="input-hidden" /><label for="happy">
                                    <img src="../../../assets/images/happy.png" alt="I'm happy" width="50px" />
                                    <p>Happy</p>
                                </label></li>
                            <li><input type="radio" name="emotion" id="very_happy" class="input-hidden" /><label
                                    for="very_happy">
                                    <img src="../../../assets/images/very-happy.png" alt="I'm very happy"
                                        width="50px" />
                                    <p>Very Happy</p>
                                </label></li>

                            <!-- <li class="text-center"><img src="images/crying-face.png" alt="" width="50px"><p>Angry</p></li>
							<li class="text-center"><img src="images/not-happy.png" alt="" width="50px"><p>Not Happy</p></li>
							<li class="text-center"><img src="images/average.png" alt="" width="50px"><p>Average</p></li>
							<li class="text-center"><img src="images/happy.png" alt="" width="50px"><p>Happy</p></li>
							<li class="text-center"><img src="images/very-happy.png" alt="" width="50px"><p>Very Happy</p></li> -->
                        </ul>
                    </div>
                </div>
            </div>
            <div class="questions">
                <ul>
                    <li>
                        <div class="quest-left">
                            <span class="ques-num">1</span>
                            <span>
                                <p>Interested in taking loan products and follow cultivation advisory</p>
                            </span>
                        </div>
                        <div class="ques-right">
                            <div class="ques-radio">
                                <label> <input type="radio" name="advisory" checked="">
                                    <span class="yes">Yes</span></label>
                            </div>
                            <div class="ques-radio">
                                <label> <input type="radio" name="advisory">
                                    <span class="no">No</span></label>
                            </div>
                            <div class="ques-radio">
                                <label> <input type="radio" name="advisory">
                                    <span class="maybe">May Be</span></label>
                            </div>
                            <div class="ques-radio">
                                <label> <input type="radio" name="advisory">
                                    <span class="never">Never</span></label>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="quest-left">
                            <span class="ques-num">2</span>
                            <span>
                                <p>Interested in taking loan only</p>
                            </span>
                        </div>
                        <div class="ques-right">
                            <div class="ques-radio">
                                <label> <input type="radio" name="loan">
                                    <span class="yes">Yes</span></label>
                            </div>
                            <div class="ques-radio">
                                <label> <input type="radio" name="loan" checked="">
                                    <span class="no">No</span></label>
                            </div>
                            <div class="ques-radio">
                                <label> <input type="radio" name="loan">
                                    <span class="maybe">May Be</span></label>
                            </div>
                            <div class="ques-radio">
                                <label> <input type="radio" name="loan">
                                    <span class="never">Never</span></label>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="quest-left">
                            <span class="ques-num">3</span>
                            <span>
                                <p>Interested in market linkage (input supplies or produce placement) only</p>
                            </span>
                        </div>
                        <div class="ques-right">
                            <div class="ques-radio">
                                <label> <input type="radio" name="market" checked="">
                                    <span class="yes">Yes</span></label>
                            </div>
                            <div class="ques-radio">
                                <label> <input type="radio" name="market">
                                    <span class="no">No</span></label>
                            </div>
                            <div class="ques-radio">
                                <label> <input type="radio" name="market">
                                    <span class="maybe">May Be</span></label>
                            </div>
                            <div class="ques-radio">
                                <label> <input type="radio" name="market">
                                    <span class="never">Never</span></label>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="quest-left">
                            <span class="ques-num">4</span>
                            <span>
                                <p>May consider our products in next cycle</p>
                            </span>
                        </div>
                        <div class="ques-right">
                            <div class="ques-radio">
                                <label> <input type="radio" name="cycle">
                                    <span class="yes">Yes</span></label>
                            </div>
                            <div class="ques-radio">
                                <label> <input type="radio" name="cycle">
                                    <span class="no">No</span></label>
                            </div>
                            <div class="ques-radio">
                                <label> <input type="radio" name="cycle" checked="">
                                    <span class="maybe">May Be</span></label>
                            </div>
                            <div class="ques-radio">
                                <label> <input type="radio" name="cycle">
                                    <span class="never">Never</span></label>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="quest-left">
                            <span class="ques-num">5</span>
                            <span>
                                <p>Sceptical to consider our proposition</p>
                            </span>
                        </div>
                        <div class="ques-right">
                            <div class="ques-radio">
                                <label> <input type="radio" name="proposition">
                                    <span class="yes">Yes</span></label>
                            </div>
                            <div class="ques-radio">
                                <label> <input type="radio" name="proposition">
                                    <span class="no">No</span></label>
                            </div>
                            <div class="ques-radio">
                                <label> <input type="radio" name="proposition">
                                    <span class="maybe">May Be</span></label>
                            </div>
                            <div class="ques-radio">
                                <label> <input type="radio" name="proposition" checked="">
                                    <span class="never">Never</span></label>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </article>

</div>