.file-control{ 
	height: auto; 
}
.co-applicant-left {
	display: flex;
	border: 0.5px solid #bababa;
	border-bottom: none;
}
.co-applicant-left .left-info {
	flex: 4;
	padding: 30px 20px;
}
.co-app-detail { 
	background: #DEF5D6; 
	padding: 20px 20px; 
}
.co-app-detail .form-title{ 
	margin-bottom: 0px; 
}
input.form-control, .form-select{
	margin-bottom: 20px;
	position: relative;
}
.text-danger{
	position: absolute;
	left: 0px;
	bottom: 0px;
}
.lable-top > label{
	z-index: 1;
}
.btn.h-100{
	height: 71% !important;
}
.form-details .form-details-inner + .form-details-inner {
	padding-top: 20px;
}