<aside class="left-menu" [class]="lsn_tv_show? 'lsn-tv-active' : 'lsn-tv-inactive'">
    <div class="left-sticky-menu">
        <div class="logo">
            <a routerLink="/bd/dashboard"><img src="../../../assets/images/logo.png" alt=""></a>
        </div>
        <ul class="navigation">
            <li [class.active]="lsn_current_url.includes('/add/concept-cards')"><a disabled>Concept Cards</a></li>
            <li [class.active]="lsn_current_url.includes('/add/demographic-info')"><a disabled>Demographic Info</a></li>
            <li [class.active]="lsn_current_url.includes('/add/field-info')"><a disabled>Field Info</a></li>
            <li [class.active]="lsn_current_url.includes('/add/financial-planning')"><a disabled>Financial Planning</a></li>
            <li [class.active]="lsn_current_url.includes('/add/crop-market-plan')"><a disabled>Crop Market Plan</a></li>
            <li [class.active]="lsn_current_url.includes('/add/produce-aggregator')"><a disabled>FRCM as Produce Aggregator</a></li>
            <li [class.active]="lsn_current_url.includes('/add/technology-adoption')"><a disabled>Technology Adoption</a></li>
            <li [class.active]="lsn_current_url.includes('/add/co-applicant')"><a disabled>Co-Applicant Details</a></li>
            <li [class.active]="lsn_current_url.includes('/add/info-declaration')"><a disabled>Information & Declaration</a></li>
        </ul>
    </div>
</aside>
<div class="lsn-tv-div" [class]="lsn_tv_show? 'lsn-tv-extend' : 'lsn-tv-collapse'">
    <a *ngIf="!lsn_tv_show" (click)="showLeftSide(true)"><i class="fa fa-angle-double-right"></i></a>
    <a *ngIf="lsn_tv_show" (click)="showLeftSide(false)"><i class="fa fa-angle-double-left"></i></a>
</div>