<aside class="left-menu">
    <div class="left-sticky-menu">
        <div class="logo">
            <a routerLink="/bd/dashboard"><img src="../../../assets/images/logo.png" alt=""></a>
        </div>
        <ul class="navigation">
            <li routerLinkActive="active"><a routerLink="/add/concept-cards">Concept Cards</a></li>
            <li routerLinkActive="active"><a routerLink="/add/demographic-info">Demographic Info</a></li>
            <li routerLinkActive="active"><a routerLink="/add/field-info">Field Info</a></li>
            <li routerLinkActive="active"><a routerLink="/add/financial-planning">Financial Planning</a></li>
            <li routerLinkActive="active"><a routerLink="/add/crop-market-plan">Crop Market Plan</a></li>
            <li routerLinkActive="active"><a routerLink="/add/produce-aggregator">FRCM as Produce Aggregator</a></li>
            <li routerLinkActive="active"><a routerLink="/add/technology-adoption">Technology Adoption</a></li>
            <li routerLinkActive="active"><a routerLink="/add/co-applicant">Co-Applicant Details</a></li>
            <li routerLinkActive="active"><a routerLink="/add/info-declaration">Information & Declaration</a></li>
        </ul>
    </div>
</aside>