<div class="main-farmer">
    <app-sidenav></app-sidenav>
    <article class="right-sec">
        <app-header></app-header>
        <div class="main-sec">
            <div class="information-declaration">
                <div class="declaration-content">
                    <p>INFOMATION & DECLARATION</p>
                    <p>INFORMATION & DECLARATION Note: Disbursement: In case the loan is sanctioned, all fees (including
                        documentation and processing charges) under or in connection with the loan, insurance premium
                        (if applicable) shall be deducted from the loan amount and only the net amount of the loan after
                        deduction of such fee/ charges/premium shall be disbursed to the applicant, unless otherwise
                        advised by IDFC FIRST Bank Limited.</p>
                    <p>1) I/We certify that the information furnished above and documents provided are true & accurate
                        and no material information has been with held/suppressed. I/We understand that such information
                        and documents shall be used and relied upon by IDFC FIRST Bank Limited for the purpose of
                        sanctioning and granting the Loan.</p>
                    <p>2) I/We have carefully read the application form and brochures and I/we have understood the terms
                        and conditions of availing Loan from IDFC FIRST Bank Ltd.</p>
                    <p>3) I/We hereby authorize & give consent to IDFC FIRST Bank Limited to disclose, without notice to
                        me/us, information furnished by me/us in application form/related documents executed/or to be
                        executed in relation to the facilities availed from IDFC FIRST Bank Limited, to IDFC FIRST’S
                        other branches /subsidiaries / affiliates, credit bureaus, rating agencies, service providers,
                        other banks / financial institutions, government / Limited may deeft or third parties for KYC
                        information verification, credit risk analysis, or for other related purposes that IDFC FIRST
                        Bank deem fit</p>
                    <p> 4) I/We confirm that no insolvency/winding up proceeding or suits for recovery of the
                        outstanding dues or monies whatsoever or for attachment of my/our assets or properties and/or
                        criminal proc edings have been initiated and/or are pending against me/us and that/we have never
                        been. adjudicated insolvent by any court or oth</p>
                    <p>5) 1/We agree and understand the IDFC FIRST bank Itd reserves the right to reject any application
                        in case liwe do not fit in the policy norms set by IDFC FIRST bank Itd.” further, disbursement
                        of the loan will be subject to execution of necessary documents. Furnishing Security(ies) and
                        completing other formalities as required by IDFC FIRST BANK Ltd. I/We further agree that myour
                        loan shall at all times be governed by the applicable policies of IDFC FIRST BANK Ltd. As
                        modified/updated from time to time. </p>
                    <p> 6) IWE shall advise the IDFC FIRST bank Limited in the writing of any change in my/our
                        residential or employment address and/or change in the cropping pattern.</p>
                    <p>7) I/We confirm having understood the terms and conditions applicable to this loan and accept the
                        terms and conditions unconditionally and agree that these terms and conditions may be changed by
                        IDFC FIRST Bank Limited. at any time at its discretion and I/We will be bound by such amended
                        terms and conditions.</p>
                    <p> 8) IDFC FIRST Bank Limited. may contact me via phone or e-mail with information on new products
                        and services, for top-up loans, for selling of third party. products, for payment of EMIS and
                        other payment reminders and assist me in using any of IDFC FIRST’s new offerings irrespective of
                        the outcome of this documents submitted with this application and will not return the same loan
                        application.</p>
                    <p> 9) IDFC FIRST Bank to the applicant. Limited, reserves the right to retain the photographs and
                    </p>
                    <p> 10) I/We confirm that the contents of the Application Form have been explained to me in my
                        vernacular language and I/We have understood the same.</p>
                    <p>11) I/We hereby agree to abide by and be bound by all applicable
                        rules/regulations/instruction/guidelines including but not limited to those issued by the
                        Reserve Bank of India, including the FEMA Regulations 2000 Governing EEFC Accounts, the Foreign
                        Exchange Management Act, 1999 and Foreign Account Tax Compliance Act, 2010 (to the extent
                        applicable to India) and the Common Reporting Standards (CRS), in force from time to time. I/We
                        confirm having declared our status as per the rules applicable under section 285BA of the Income
                        Tax Act, 1961 (the Act) as notified by Central Board of Direct Taxes (CBDT) in this regard.</p>
                    <p>12) II/We confirm that if granted the loan will be use for the declared purpose and shall not be
                        use for purchase of gold in any form or any prohibited use as defined by RBI. </p>
                    <p>13) 1/We agree to create security for the loan as stipulated by the bank and I/We will insure
                        that the guarantor complies with all the terms of guarantee.</p>
                    <p> 14) Except to the extent disclosed to IDFC FIRST Bank, no director or a relative (as specified
                        by RBI) of a director of a banking company (as specified by RBI) or a relative of a senior
                        officer of IDFC FIRST Bank (as specified by RBI) is the applicant</p>
                    <p> I/We CONSENT DO NOT CONSENT to receive information via telephonic calls, or SMS, on my mobile
                        number mentioned in the application form or through any other communication mode, various loan
                        offer scheme, marketing calls or any loan/ other promotional schemes from IDFC Bank Limited, its
                        employees, agents and/or associates. I confirm the laws I relation to the unsolicited
                        communication referred in “National Do Not Call Registry” (The “NDNC” Registry) as laid down by
                        Telecom Regulatory Authority of India Ltd will not be applicable for such communication/ calls/
                        SMSes/ received from IDFC FIRST Bank Limited, its employees, agents, and/or associates.</p>

                </div>
                <div class="applicant-signature">
                    <ul>
                        <li>
                            <div class="applicant">
                                <p>Applicant signature <span>(Please scribble within the box area)</span></p>
                                <p><a href="javascript:void(0)">RESET</a></p>
                            </div>
                            <div class="sign">Harvindar singh</div>
                        </li>
                        <li>
                            <div class="applicant">
                                <p>Co-applicant signature <span>(Please scribble within the box area)</span></p>
                                <p><a href="javascript:void(0)">RESET</a></p>
                            </div>
                            <div class="sign">Harvindar singh</div>
                        </li>
                    </ul>
                    <div class="row justify-content-center text-center">
                        <form [formGroup]="declarationForm">
                            <div class="d-flex justify-content-center">
                                <input type="checkbox" class="form-check-input" name="terms&conditions" id="terms">
                                <label class="form-check-label form-check" for="terms"> I agree with to all the terms
                                    and conditions mentioned in the contract</label>
                            </div>
                            <div><a href="javascript:void(0)" class="btn btn-agree">I agree</a></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </article>
</div>