<div class="main-farmer">
    <app-sidenav></app-sidenav>
    <article class="right-sec">
        <app-header></app-header>
        <div class="main-sec">
            <div class="technology-adoption">
                <form [formGroup]="technologyAdoptionForm">
                    <div class="form-details">
                        <h3 class="form-title">1. Do you think that you require help in farm yield improvisation?</h3>
                        <div class="row g-3 align-items-center">
                            <div class="col-auto">
                                <label class="form-check-label form-check bordered-radio" for="improvisation_yes">
                                    <input class="form-check-input" type="radio" name="yield_improvisation"
                                        id="improvisation_yes">Yes</label>
                            </div>
                            <div class="col-auto">
                                <label class="form-check-label form-check bordered-radio" for="improvisation_no">
                                    <input class="form-check-input" type="radio" name="yield_improvisation"
                                        id="improvisation_no">No</label>
                            </div>
                            <div class="col-auto">
                                <label class="form-check-label form-check bordered-radio" for="improvisation_maybe">
                                    <input class="form-check-input" type="radio" name="yield_improvisation"
                                        id="improvisation_maybe">May be</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-details">
                        <h3 class="form-title">2. Model farm case studies are available to support claims. Does it help
                            to provide confidence?</h3>
                        <div class="row g-3 align-items-center">
                            <div class="col-auto">
                                <label class="form-check-label form-check bordered-radio" for="confidence_yes">
                                    <input class="form-check-input" type="radio" name="confidence"
                                        id="confidence_yes">Yes</label>
                            </div>
                            <div class="col-auto">
                                <label class="form-check-label form-check bordered-radio" for="confidence_no">
                                    <input class="form-check-input" type="radio" name="confidence"
                                        id="confidence_no">No</label>
                            </div>
                            <div class="col-auto">
                                <label class="form-check-label form-check bordered-radio" for="confidence_maybe">
                                    <input class="form-check-input" type="radio" name="confidence"
                                        id="confidence_maybe">May be</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-details">
                        <h3 class="form-title">3. Would you be comfortable to pay for technology if there is a safety
                            net which ensures that there is definite margin of improvement?</h3>
                        <div class="row g-3 align-items-center">
                            <div class="col-auto">
                                <label class="form-check-label form-check bordered-radio" for="improvement_yes">
                                    <input class="form-check-input" type="radio" name="margin_improvement"
                                        id="improvement_yes">Yes</label>
                            </div>
                            <div class="col-auto">
                                <label class="form-check-label form-check bordered-radio" for="improvement_no">
                                    <input class="form-check-input" type="radio" name="margin_improvement"
                                        id="improvement_no">No</label>
                            </div>
                            <div class="col-auto">
                                <label class="form-check-label form-check bordered-radio" for="improvement_maybe">
                                    <input class="form-check-input" type="radio" name="margin_improvement"
                                        id="improvement_maybe">May be</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-details">
                        <h3 class="form-title">4. Are you aware of the following technologies? In your opinion, how
                            helpful are they to you?</h3>
                        <div class="row g-3 align-items-center">
                            <div class="col-md-8">
                                <table class="table loan product-table">
                                    <thead>
                                        <tr>
                                            <td></td>
                                            <td>Aware</td>
                                            <td>Helpful</td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Tissue culture / Hybrid seeds</td>
                                            <td>
                                                <div class="form-check"><input class="form-check-input" type="checkbox"
                                                        name="" id="yes"><label class="form-check-label"
                                                        for="yes"></label></div>
                                            </td>
                                            <td>
                                                <div class="form-check"><input class="form-check-input" type="checkbox"
                                                        name="" id="yes"><label class="form-check-label"
                                                        for="yes"></label></div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Poly house</td>
                                            <td>
                                                <div class="form-check"><input class="form-check-input" type="checkbox"
                                                        name="" id="yes"><label class="form-check-label"
                                                        for="yes"></label></div>
                                            </td>
                                            <td>
                                                <div class="form-check"><input class="form-check-input" type="checkbox"
                                                        name="" id="yes"><label class="form-check-label"
                                                        for="yes"></label></div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Micro irrigation</td>
                                            <td>
                                                <div class="form-check"><input class="form-check-input" type="checkbox"
                                                        name="" id="yes"><label class="form-check-label"
                                                        for="yes"></label></div>
                                            </td>
                                            <td>
                                                <div class="form-check"><input class="form-check-input" type="checkbox"
                                                        name="" id="yes"><label class="form-check-label"
                                                        for="yes"></label></div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>IoT sensors which help to track farm requirements of nutrition</td>
                                            <td>
                                                <div class="form-check"><input class="form-check-input" type="checkbox"
                                                        name="" id="yes"><label class="form-check-label"
                                                        for="yes"></label></div>
                                            </td>
                                            <td>
                                                <div class="form-check"><input class="form-check-input" type="checkbox"
                                                        name="" id="yes"><label class="form-check-label"
                                                        for="yes"></label></div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Drones to track farm requirements of nutrition/spraying</td>
                                            <td>
                                                <div class="form-check"><input class="form-check-input" type="checkbox"
                                                        name="" id="yes"><label class="form-check-label"
                                                        for="yes"></label></div>
                                            </td>
                                            <td>
                                                <div class="form-check"><input class="form-check-input" type="checkbox"
                                                        name="" id="yes"><label class="form-check-label"
                                                        for="yes"></label></div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Weather data to help plan in advance for taking preventive measures on
                                                farm</td>
                                            <td>
                                                <div class="form-check"><input class="form-check-input" type="checkbox"
                                                        name="" id="yes"><label class="form-check-label"
                                                        for="yes"></label></div>
                                            </td>
                                            <td>
                                                <div class="form-check"><input class="form-check-input" type="checkbox"
                                                        name="" id="yes"><label class="form-check-label"
                                                        for="yes"></label></div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Satellite based tracking of crop health</td>
                                            <td>
                                                <div class="form-check"><input class="form-check-input" type="checkbox"
                                                        name="" id="yes"><label class="form-check-label"
                                                        for="yes"></label></div>
                                            </td>
                                            <td>
                                                <div class="form-check"><input class="form-check-input" type="checkbox"
                                                        name="" id="yes"><label class="form-check-label"
                                                        for="yes"></label></div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="form-details">
                        <h3 class="form-title">5. Would you be comfortable to pay for technology if there is a safety
                            net which ensures that there is definite margin of improvement?</h3>
                        <div class="row g-3">
                            <div class="col-md-12 lable-top">
                                <label class="form-label">Comment</label>
                                <textarea class="form-control" id="" rows="5"></textarea>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </article>
</div>