<article class="right-sec">
    <app-edit-header></app-edit-header>
    <div class="bg-color summery">
        <div>
            <div class="row">
                <div class="col-md-9">
                    <div class="actual-facts summery-bg full-height">
                        <h4 class="summery-heading"><span>Crop Loan</span><a href="javascript:void(0)"> <img src="../../../assets/images/edit-img.svg" alt=""></a></h4>
                        <ul class="d-flex-profile">

                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>
                                            Field Id
                                        </th>
                                        <th>
                                            Loan Product
                                        </th>
                                        <th>
                                            Area
                                        </th>
                                        <th>
                                            Required Amount
                                        </th>
                                        <th>
                                            Crop
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let x of financialPlanDisp?.loanReqPlaned">
                                        <td>{{x.fieldId}}</td>
                                        <td>{{x.cropLoanProduct}}</td>
                                        <td>{{x.hectares}}</td>
                                        <td>{{x.plannedCultivationArea}}</td>
                                        <td>{{x.crop}} </td>
                                    </tr>
                                </tbody>
                            </table>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="actual-facts summery-bg full-height">
                        <h4 class="summery-heading"><span>Other Loan</span> <a href="javascript:void(0)"> <img src="../../../assets/images/edit-img.svg" alt=""></a></h4>
                        <div class="d-flex-profile kyc-details">
                            <p>Bank : {{financialPlanDisp?.otherLoanBank || 'NA'}}</p>
                            <p>Credited Amount : {{financialPlanDisp?.otherLoanCreditedAmount || 'NA'}}</p>
                            <p>Disbursement Date : {{financialPlanDisp?.otherLoanDisbursementDate || 'NA'}}</p>
                            <p>Repayment Amount : {{financialPlanDisp?.otherLoanRepaymentAmount || 'NA'}}</p>
                            <p>Repayment Date : {{financialPlanDisp?.otherLoanRepaymentDate || 'NA'}}</p>
                            <!-- <p><span><i class="fa fa-check"></i>N/A</span></p> -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="actual-facts summery-bg">
                        <h4 class="summery-heading"><span>Cultivation Costs</span><a href="javascript:void(0)"> <img src="../../../assets/images/edit-img.svg" alt=""></a></h4>
                        <ul class="d-flex-profile">
                            <li>
                                <h5>&nbsp;</h5>
                                <p>Seed + Fertiliser + Pesticides</p>
                                <p>Labour</p>
                                <p>Farm Electricity</p>
                                <p>Machinery</p>
                            </li>
                            <li>
                                <h5>Rabi 2022 (Planned): </h5>
                                <p>{{financialPlanDisp?.cultivationCost?.seedPlanned1 || 'NA'}}</p>
                                <p>{{financialPlanDisp?.cultivationCost?.labourPlanned1 || 'NA'}}</p>
                                <p>{{financialPlanDisp?.cultivationCost?.farmElectricityPlanned1 || 'NA'}}</p>
                                <p>{{financialPlanDisp?.cultivationCost?.machineryPlanned1 || 'NA'}}</p>
                            </li>
                            <li>
                                <h5>Kharif 2022 (Planned): </h5>
                                <p>{{financialPlanDisp?.cultivationCost?.seedPlanned2 || 'NA'}}</p>
                                <p>{{financialPlanDisp?.cultivationCost?.labourPlanned2 || 'NA'}}</p>
                                <p>{{financialPlanDisp?.cultivationCost?.farmElectricityPlanned2 || 'NA'}}</p>
                                <p>{{financialPlanDisp?.cultivationCost?.machineryPlanned2 || 'NA'}}</p>
                            </li>
                            <li>
                                <h5>Rabi 2021 (Historical): </h5>
                                <p>{{financialPlanDisp?.cultivationCost?.seedHistorical || 'NA'}}</p>
                                <p>{{financialPlanDisp?.cultivationCost?.labourHistorical || 'NA'}}</p>
                                <p>{{financialPlanDisp?.cultivationCost?.farmElectricityHistorical || 'NA'}}</p>
                                <p>{{financialPlanDisp?.cultivationCost?.machineryHistorical || 'NA'}}</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="actual-facts summery-bg">
                        <h4 class="summery-heading"><span>Monthly Expenses</span><a href="javascript:void(0)"> <img src="../../../assets/images/edit-img.svg" alt=""></a></h4>
                        <ul class="d-flex-profile">
                            <li>
                                <h5>&nbsp;</h5>
                                <p> Monthly</p>
                            </li>
                            <li>
                                <h5>Grocery: </h5>
                                <p>{{financialPlanDisp?.groceryExpense || 'NA'}}</p>
                            </li>
                            <li>
                                <h5>Health: </h5>
                                <p>{{financialPlanDisp?.medicalExpense || 'NA'}}</p>
                            </li>
                            <li>
                                <h5>Education: </h5>
                                <p>{{financialPlanDisp?.educationExpense || 'NA'}}</p>
                            </li>
                            <li>
                                <h5>Rent:</h5>
                                <p>{{financialPlanDisp?.rentalExpense || 'NA'}}</p>
                            </li>
                            <li>
                                <h5>Electricity:</h5>
                                <p>{{financialPlanDisp?.electricityExpense || 'NA'}}</p>
                            </li>
                            <li>
                                <h5>Interest:</h5>
                                <p>{{financialPlanDisp?.interestExpense || 'NA'}}</p>
                            </li>
                            <li>
                                <h5>Others:</h5>
                                <p>{{financialPlanDisp?.otherExpense || 'NA'}}</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="actual-facts summery-bg">
                        <h4 class="summery-heading"><span>Season crop wise selling information</span><a href="javascript:void(0)"> <img src="../../../assets/images/edit-img.svg" alt=""></a></h4>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>
                                        Season
                                    </th>
                                    <th>
                                        Crop
                                    </th>
                                    <th>
                                        Sold at
                                    </th>
                                    <th>
                                        Quantity Sold (in KG)
                                    </th>
                                    <th>
                                        Selling Price(₹)
                                    </th>
                                    <th>
                                        Selling Date
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let x of financialPlanDisp?.seasonCrop">
                                    <td>{{x.season}}</td>
                                    <td>{{x.crop}}</td>
                                    <td>{{x.soldAt}}</td>
                                    <td>{{x.quantitySold}}</td>
                                    <td>{{x.sellingPrice}} </td>
                                    <td>{{x.sellingDate}} </td>
                                </tr>
                            </tbody>
                        </table>                        
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="actual-facts summery-bg full-height">
                        <h4 class="summery-heading"><span>KCC Details</span><a href="javascript:void(0)"> <img src="../../../assets/images/edit-img.svg" alt=""></a></h4>
                        <div class="d-flex-profile kcc-details">
                            <p><span>Bank:</span><span><b>{{financialPlanDisp?.KCCLoanBank || 'NA'}}</b></span></p>
                            <p><span>Credit Amount:</span><span><b>{{financialPlanDisp?.KCCLoanCreditedAmount || 'NA'}}</b></span></p>
                            <p><span>Disbursement Date:</span><span><b>{{financialPlanDisp?.KCCLoanDisbursementDate || 'NA'}}</b></span></p>
                            <p><span>Repayment Amount:</span><span><b>{{financialPlanDisp?.KCCLoanRepaymentAmount || 'NA'}} </b></span></p>
                            <p><span>Repayment Date:</span><span><b>{{financialPlanDisp?.KCCLoanRepaymentDate || 'NA'}}</b></span></p>
                            <p><span>Availed Farm loan Wavier:</span><span><b>{{financialPlanDisp?.availedFarmLoanWaiver || 'NA'}}</b></span></p>
                            <p><span>Availed Farm loan Wavier Other:</span><span><b>{{financialPlanDisp?.availedFarmLoanWaiverOther || 'NA'}}</b></span></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="actual-facts summery-bg full-height">
                        <h4 class="summery-heading"><span>Insurance</span><a href="javascript:void(0)"> <img src="../../../assets/images/edit-img.svg" alt=""></a></h4>
                        <div class="d-flex-profile kcc-details">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Insurance Type
                                        </th>
                                        <th>
                                            Month-Year last taken
                                        </th>
                                        <th>
                                            Premium paid(₹)
                                        </th>
                                        <th>
                                            Settlement amount credited?
                                        </th>
                                        <th>
                                            Satisfied with the disbursement?
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let x of financialPlanDisp?.insuranceDetails">
                                        <td>{{x.insuranceType}}</td>
                                        <td>{{x.monthYearTaken}}</td>
                                        <td>{{x.premiumPaid}}</td>
                                        <td>{{x.isSettlementAmountCredited}}</td>
                                        <td>{{x.isDisbursementSatisfied}} </td>
                                    </tr>
                                </tbody>
                            </table> 
                            
                            <!-- <p><span>Crop insurance premium paid in last season:</span><span><b>N/A</b></span>
                            </p>
                            <p><span>Date of payment:</span><span><b>N/A</b></span></p>
                            <p><span>Settlement amount credited:</span><span><b>N/A</b></span></p>
                            <p><span>Satisfied with Disbursement:</span><span><b>N/A </b></span></p>
                            <p><span>Other Insurances taken:</span><span><b>N/A</b></span></p> -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="actual-facts summery-bg">
                        <h4 class="summery-heading"><span>Credit Outside KCC</span><a href="javascript:void(0)"> <img src="../../../assets/images/edit-img.svg" alt=""></a></h4>
                        <table>
                            <tbody>
                                <tr>
                                    <td><b>Rank Order</b></td>
                                    <td><b>ROI charged per month</b></td>
                                    <td><b>Amount of loan</b></td>
                                </tr>
                                <tr>
                                    <td><b>Commission Agent/ Arhatiya</b></td>
                                    <td><b>{{financialPlanDisp?.commissionAgentROICharge || 'NA'}}</b></td>
                                    <td><b>{{financialPlanDisp?.commissionAgentLoanAmount || 'NA'}}</b></td>
                                </tr>
                                <tr>
                                    <td><b>Family/Friends</b></td>
                                    <td><b>{{financialPlanDisp?.familyROICharge || 'NA'}}</b></td>
                                    <td><b>{{financialPlanDisp?.familyLoanAmount || 'NA'}}</b></td>
                                </tr>
                                <tr>
                                    <td><b>Input Supplier</b></td>
                                    <td><b>{{financialPlanDisp?.inputSupplierROICharge || 'NA'}}</b></td>
                                    <td><b>{{financialPlanDisp?.inputSupplierLoanAmount || 'NA'}}</b></td>
                                </tr>
                                <tr>
                                    <td><b>Local Sahookar</b></td>
                                    <td><b>{{financialPlanDisp?.localSahookarROICharge || 'NA'}}</b></td>
                                    <td><b>{{financialPlanDisp?.localSahookarLoanAmount || 'NA'}}</b></td>
                                </tr>
                                <tr>
                                    <td><b>Gold Loan</b></td>
                                    <td><b>{{financialPlanDisp?.goldLoanROICharge || 'NA'}}</b></td>
                                    <td><b>{{financialPlanDisp?.goldLoanLoanAmount || 'NA'}}</b></td>
                                </tr>
                            </tbody>
                        </table>
                        <!-- <div class="py-3">
                            <p><b>Collateral pledged:</b> Produce output, gold, land</p>
                        </div>
                        <div>
                            <p><b>Reason:</b> </p>
                            <div class="d-flex-profile">
                                <p>1. Working Capital </p>
                                <p>2. Produce buyback</p>
                                <p>3. Credit roll over</p>
                            </div>
                        </div> -->
                    </div>
                </div>
                <div class="col-md-6">
                    <!-- <div class="actual-facts summery-bg">
                        <h4 class="summery-heading"><span>Employement</span><a href="javascript:void(0)"> <img src="../../../assets/images/edit-img.svg" alt=""></a></h4>
                        <div class="d-flex-profile kcc-details">
                            <p><span>Type:</span><span><b>N/A</b></span></p>
                            <p><span>Type of company:</span><span><b>N/A</b></span></p>
                            <p><span>No. of years in current job/business:</span><span><b>N/A</b></span></p>
                            <p><span>Monthly Income:</span><span><b>N/A </b></span></p>
                        </div>
                        <div class="py-3">
                            <p><a href="javascript:void(0);">View Details</a></p>
                        </div>
                    </div> -->
                    <div class="actual-facts summery-bg">
                        <h4 class="summery-heading"><span>Bank Details</span><a href="javascript:void(0)"> <img src="../../../assets/images/edit-img.svg" alt=""></a></h4>
                        <table>
                            <thead>
                                <tr>
                                    <td>Bank</td>
                                    <td>Account No.</td>
                                    <td>IFSC</td>
                                    <td>Customer ID</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let x of financialPlanDisp?.bankDetails">
                                    <td><b>{{x.bankName}}</b></td>
                                    <td><b>{{x.accountNum}}</b></td>
                                    <td><b>{{x.IFSCode}}</b></td>
                                    <td><b>{{x.customerID}}</b></td>
                                </tr>
                            </tbody>
                        </table>
                        <!-- <div class="py-3">
                            <p><b>Tax Assessee:</b> Yes</p>
                            <p><a href="javascript:void(0);">View Details</a></p>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>


</article>

<div class="modal" tabindex="-1" id="other_loan" aria-modal="true" role="dialog" style="padding-right: 1px; display: none;">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content border-0">
            <div class="modal-header border-0">
                <h5 class="modal-title" style="width: 100%">Other loan<a href="javascript:void(0)" style="float: right;"> <img src="../../../assets/images/edit-img.svg" alt=""></a></h5>

            </div>
            <div class="modal-body">
                <ul class="modal-other-loan">


                    <li>
                        <p>Bank Name</p>
                        <p><b>ABC Bank of India</b></p>
                    </li>
                    <li>
                        <p>Repayment Amount</p>
                        <p><b>INR 50,000</b></p>
                    </li>
                    <li>
                        <p>Credited Amount</p>
                        <p><b>INR 5,00,000</b></p>
                    </li>
                    <li>
                        <p>Date of disbursement</p>
                        <p><b>10 Aug 2021</b></p>
                    </li>
                    <li>
                        <p>Repayment Date</p>
                        <p><b>10 Aug 2021</b></p>
                    </li>
                </ul>
            </div>

        </div>
    </div>
</div>
<script type="text/javascript">
    $(window).on('load', function () {
        var delayMs = 1500; // delay in milliseconds    
        setTimeout(function () {
            $('#other_loan').modal('show');
        }, delayMs);
    });
</script>