<header>
    <div class="heading-top">
        <h3>Please spare a few minutes to rate your experience with us</h3>
    </div>
    <div class="language">
        <select class="form-select" aria-label="Default select example">
            <option selected>Language</option>
            <option>English</option>
            <option>Germany</option>
            <option>French</option>
        </select>
    </div>
    <div class="step-next">
        <a routerLink="/bd/dashboard" class="btn btn-back">Back</a>
        <a routerLink="/add/concept-cards" class="btn btn-next active">Next </a>
    </div>
</header>